openapi: 3.0.1
info:
  description: Alerting Module API Specification
  title: Alerting
  version: 4.0.1
servers:
- url: http://admin.alertsense.com/api
- url: https://admin.alertsense.com/api
paths:
  /v2/alerts:
    post:
      operationId: createAlerts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendAlertRequest"
        description: required parameters for sending an alert
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                AlertId: 0
                SentStatus:
                  AlertId: 1116
                  AlertType: 0
                  AlertStatus: Queued
                  DateSent: /Date(1461270312040-0000)/
                  DateCompleted: /Date(-62135596800000-0000)/
                  TimeZone: 'MT '
                  SenderName: Development Administrator
                  SenderEmail: dev@alertsense.com
                  Subject: AlertSense Dev Environment
                  Message: This is a test message. Lets send from a template!
                  Cancelled: false
                  Scheduled: false
                  Sent: false
                  Groups: []
                  Statuses: []
                  Errors: []
                HasErrors: false
                IsValid: true
              schema:
                $ref: "#/components/schemas/SendAlertResponse"
          description: successful operation
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      summary: Creates and queues an alert for sending
      tags:
      - alerts
      x-codegen-request-body-name: body
  /v2/alerts/{alertId}/results/channels/aggregatedSummary:
    get:
      description: "Returns the summary results for the email, voice, and sms channels."
      operationId: getAggregatedChannelSummaryResponse
      parameters:
      - description: the alert id of the channel to return
        in: path
        name: alertId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregatedChannelSummaryResponse"
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - alerts
  /v2/alerts/{alertId}/results/channels/email:
    get:
      description: Return the results for the email channel.
      operationId: getAlertChannelResultsEmail
      parameters:
      - description: the alert id of the channel to return
        in: path
        name: alertId
        required: true
        schema:
          format: int32
          type: integer
      - description: the page number of contacts to return. (1 by default)
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: the desired number of contacts per page. (25 by default)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailResultsSummaryResponse"
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - alerts
  /v2/alerts/{alertId}/results/channels/etn:
    get:
      description: Return the results for the ETN channel.
      operationId: getAlertChannelResultsEtn
      parameters:
      - description: the alert id of the channel to return
        in: path
        name: alertId
        required: true
        schema:
          format: int32
          type: integer
      - description: the page number of contacts to return. (1 by default)
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: the desired number of contacts per page. (25 by default)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EtnResultsSummaryResponse"
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - alerts
  /v2/alerts/{alertId}/results/channels/social/nextdoor:
    get:
      description: Gets the Nextdoor channel status for a given alertId.
      operationId: getNextdoorChannelStatus
      parameters:
      - description: The AlertId.
        in: path
        name: alertId
        required: true
        schema:
          format: int32
          type: integer
      - description: The page number of status records to return. (1 by default)
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: The desired number of status records per page. (25 by default)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: A comma seperated list of properties to order by. Property names
          are case insensitive. Default is AccountName.
        in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedNextdoorChannelStatusResponse"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
          description: Unauthorized.
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - alerts
  /v2/alerts/{alertId}/results/channels/text:
    get:
      description: Return the results for the Text channel.
      operationId: getAlertChannelResultsText
      parameters:
      - description: the alert id of the channel to return
        in: path
        name: alertId
        required: true
        schema:
          format: int32
          type: integer
      - description: the page number of contacts to return. (1 by default)
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: the desired number of contacts per page. (25 by default)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SmsResultsSummaryResponse"
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - alerts
  /v2/alerts/{alertId}/results/channels/voice:
    get:
      description: Return the results for the Voice channel.
      operationId: getAlertChannelResultsVoice
      parameters:
      - description: the alert id of the channel to return
        in: path
        name: alertId
        required: true
        schema:
          format: int32
          type: integer
      - description: the page number of contacts to return. (1 by default)
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: the desired number of contacts per page. (25 by default)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceResultsSummaryResponse"
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - alerts
  /v2/alerts/{alertId}/results/recipients/{recipientId}:
    get:
      description: Results for the specified recipient who has received this specific
        alert.
      operationId: getAlertsByIdSingleRecipient
      parameters:
      - description: Id of the alert
        in: path
        name: alertId
        required: true
        schema:
          format: int32
          type: integer
      - description: Id of the recipient
        in: path
        name: recipientId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                item:
                  firstName: Jeff
                  lastName: Miller
                  channels:
                    email:
                    - status: Sent
                    mobile:
                    - status: Sent
                    sms:
                    - status: Sent
                hasErrors: false
                isValid: true
              schema:
                $ref: "#/components/schemas/SingleRecipientResponse"
          description: A single Recipient
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - alerts
      - contacts
  /v2/alerts/{id}:
    get:
      description: Returns the alert details for the ID specified
      operationId: getAlertsById
      parameters:
      - description: Id of the alert
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: Replace message variables with values from a contact. Defaults
          to true
        in: query
        name: replaceMessageVariables
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              example:
                item:
                  alertType: Poll
                  capXml: ""
                  channels:
                    email:
                      requestConfirmation: false
                      send: true
                    fax:
                      send: false
                    push:
                      send: false
                    textMessage:
                      primary: true
                      secondary: false
                      deliveryMethod: Sms
                      send: true
                    voice:
                      cellPhone: true
                      businessPhone: true
                      homePhone: true
                      useOptOut: false
                      send: true
                    facebook:
                      accountIds: []
                      pageIds: []
                      send: false
                    twitter:
                      accountIds: []
                      send: false
                    nextdoor:
                      accounts: []
                      send: false
                    mobileBroadcast:
                      send: false
                      message: ""
                    myAlertsApp:
                      send: false
                    microsoftTeams:
                      sendWithHighImportance: false
                      send: false
                  clientContext:
                    isResend: false
                  formType: Quick
                  id: 1118
                  facilities:
                    facilities: []
                    areas: []
                  message:
                    priority: NonEmergency
                    basic:
                      subject: Exercise - Team Activation - Exercise
                      message: "<p>Please respond to the following question by clicking\
                        \ on an answer below:</p><h4>The team has been activated due\
                        \ to yesterday's incident. Please give your availability to\
                        \ report to the site. This is only an exercise.</h4><ul><li\
                        \ style=\"list-style: none;\">Option 1 - I can be at the site\
                        \ in 2 hours</li><li style=\"list-style: none;\">Option 2\
                        \ - I can be at the site in 3 hours</li><li style=\"list-style:\
                        \ none;\">Option 3 - I can report to the site tomorrow at\
                        \ 9:00 AM</li><li style=\"list-style: none;\">Option 4 - I\
                        \ am unable to report to the site today or tomorrow. </li></ul>"
                    poll:
                      questionId: 1000
                      question: The team has been activated due to yesterday's incident.
                        Please give your availability to report to the site. This
                        is only an exercise.
                      options:
                      - optionId: 1000
                        selectionChoice: 1
                        value: I can be at the site in 2 hours
                        description: I can be at the site in 2 hours
                        criticality: None
                      - optionId: 1001
                        selectionChoice: 2
                        value: I can be at the site in 3 hours
                        description: I can be at the site in 3 hours
                        criticality: None
                      - optionId: 1002
                        selectionChoice: 3
                        value: I can report to the site tomorrow at 9:00 AM
                        description: I can report to the site tomorrow at 9:00 AM
                        criticality: None
                      - optionId: 1003
                        selectionChoice: 4
                        value: 'I am unable to report to the site today or tomorrow. '
                        description: 'I am unable to report to the site today or tomorrow. '
                        criticality: None
                    files:
                    - uri: https://storage-dev.dev.aws.alertsense.net/hilton-worldwide-attachments/52730cc4-566b-434e-82c0-dea36d4f47f6/Image1.png
                      fileName: Image1.png
                      contentType: image/png
                      length: 575765
                      ownerId: 1000
                    language: en-us
                    incident:
                      id: e03472cc9a3843d182986e01e1f02307
                      name: Infrastructure Failure/Damage
                      priority: Emergency
                      type: Generic
                    incidentId: e03472cc9a3843d182986e01e1f02307
                  recipients:
                    uniqueMyAlertsAppCount: 10
                    uniqueEtnCount: 5
                    uniqueGroupCount: 0
                    uniqueContactCount: 45
                    selectedContactCount: 0
                    selectedGroupCount: 1
                    groupIds:
                    - 8846
                    mandatoryGroupIds: []
                    contactIds: []
                    groups:
                    - id: 8846
                      externalId: "8846"
                    contacts: []
                    directories: []
                    searchFilters: []
                  related:
                  - relatedAlertId: 1100
                    alertRelationType: Related
                  schedule:
                    scheduled: false
                    expireDateTimeUtc: /Date(1463052600000)/
                    type: Hickory
                  security:
                    requireAuthentication: false
                    voicePin: ""
                  sender:
                    id: 1234
                    asset:
                      id: 539569f532ce46b293a0d4190f10ba3d
                      name: Tokyo Hilton
                    displayName: Tina Tester
                    email: tina.tester@alertsense.dev
                    callerId: "2085551234"
                    externalId: "1234"
                  timeSent: /Date(1463049000000)/
                  workflow:
                    name: RollingRetry
                    key: poll4duration
                    version: "1.0"
                    triggers:
                    - Initialize
                    - Gather
                    - Hangup
                    settings:
                      retryDelay: "5"
                      maxAttempts: "1000"
                      duration: "15"
                  hidden: false
                  weatherAlert: false
                  requestConfirmation: false
                  relatedAlertActions:
                    disableReplyAll: false
                status:
                  __type: "AlertSense.Hickory.Interfaces.ResponseStatus, AlertSense.Hickory.ServiceModel"
                  isSuccess: true
                  errorCode: None
                  validationFailures: []
                  messages: []
                hasErrors: false
                isValid: true
              schema:
                $ref: "#/components/schemas/SingleAlertSettingsResponse"
          description: Alert being retrieved
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - alerts
  /v2/alerts/{id}/results:
    get:
      description: Result summary for the specified alert.
      operationId: getAlertsByIdResults
      parameters:
      - description: Id of the alert
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                item:
                  id: 1118
                  totalRecipients: 55
                  delivery:
                    Answered - Key Pressed: 45
                    Answered - No Key Pressed: 5
                    Failed: 5
                  poll:
                    questionId: 1000
                    question: What's your favorite color?
                    optionResults:
                    - optionId: 1000
                      name: Red
                      value: 1
                      count: 3
                    - optionId: 1001
                      name: Blue
                      value: 2
                      count: 5
                    totalResponded: 8
                  hasErrors: false
                  isValid: true
              schema:
                $ref: "#/components/schemas/SingleDeliverySummaryResponse"
          description: Result summary for the specified alert.
        "404":
          content: {}
          description: NotFound
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - alerts
  /v2/alerts/{id}/results/recipients:
    get:
      description: Results for all the recipients who have received this specific
        alert.
      operationId: getAlertsByIdRecipients
      parameters:
      - description: Id of the alert
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: Filters recipeints by IDs.
        explode: false
        in: query
        name: recipientIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filters by recipeints that were mandatory when the alert was
          sent.
        in: query
        name: isMandatory
        schema:
          type: boolean
      - description: Filters recipeints by the poll option they selected.
        in: query
        name: pollOptionId
        schema:
          format: int32
          type: integer
      - description: Filters recipeints by name.
        in: query
        name: name
        schema:
          type: string
      - description: Filters recipeints by email.
        in: query
        name: email
        schema:
          type: string
      - description: The page number of items to return. (1 by default)
        in: query
        name: page
        schema:
          default: 1
          format: int32
          type: integer
      - description: The desired number of items per page. (25 by default)
        in: query
        name: pageSize
        schema:
          default: 25
          format: int32
          type: integer
      - description: "A comma seperated list of properties to order by. Properties\
          \ preceded by a '-' will be ordered descending. (e.g.  ?sort=lastName,firstName,-responseTime).\
          \ Property names are case insensitive."
        in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                items:
                - id: 123
                  firstName: Jeff
                  lastName: Miller
                  channels:
                    email:
                    - status: Sent
                      excluded: false
                    mobile:
                    - status: Sent
                      excluded: false
                    sms:
                    - status: Sent
                      excluded: false
                  response:
                    channel: Email
                    value: 1
                    responseMethod: j.m@nagdom.com
                  isMandatory: false
                  asset:
                    id: 51bcb90c74174e60a0fdc87eeb8bac99
                    name: AlertSense
                  responseTime: /Date(1463052600000)/
                  responseChannel: Email
                  confirm: false
                - id: 456
                  firstName: Josiah
                  lastName: Peters
                  channels:
                    email:
                    - status: Sent
                      excluded: false
                    - status: Sent
                      excluded: false
                    mobile:
                    - status: Sent
                      excluded: false
                  isMandatory: false
                  asset:
                    id: 51bcb90c74174e60a0fdc87eeb8bac99
                    name: AlertSense
                  responseTime: /Date(1463052600000)/
                  responseChannel: mobile
                  confirm: false
                totalItemCount: 55
                pageCount: 3
                page: 1
                pageSize: 25
              schema:
                $ref: "#/components/schemas/PagedRecipientResponse"
          description: Paged Recipients.
        "404":
          content: {}
          description: NotFound
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - alerts
      - contacts
  /v2/alerts/{id}/status:
    get:
      description: Current status for the specified alert.
      operationId: getAlertsByIdStatus
      parameters:
      - description: Id of the alert
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                item:
                  id: 1004
                  status: Sent
                hasErrors: false
                isValid: true
              schema:
                $ref: "#/components/schemas/SingleAlertStatusResponse"
          description: Current status for the specified alert.
        "404":
          content: {}
          description: NotFound
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - alerts
  /v2/alerts/defaults:
    post:
      description: Add new Alert Default Form
      operationId: getAlertsDefault
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SingleAlertDefaultsRequest"
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                item:
                  fields:
                  - name: incident
                    required: true
                    invisible: false
                    readonly: false
                    systemRequired: false
                    autofill: false
                  - name: severityAssessment
                    required: true
                    invisible: false
                    readonly: false
                    systemRequired: false
                    autofill: false
                  - name: recipients
                    required: true
                    invisible: false
                    readonly: false
                    systemRequired: false
                    autofill: false
                  - name: subject
                    required: true
                    invisible: false
                    readonly: false
                    systemRequired: false
                    autofill: false
                  - name: message
                    required: true
                    invisible: false
                    readonly: false
                    systemRequired: false
                    autofill: false
                  alertType: Poll
                  channels:
                    email:
                      requestConfirmation: false
                      send: true
                    fax:
                      send: false
                    push:
                      send: true
                    textMessage:
                      primary: true
                      secondary: false
                      deliveryMethod: Sms
                      send: true
                    voice:
                      cellPhone: false
                      businessPhone: false
                      homePhone: false
                      useOptOut: false
                      send: false
                    facebook:
                      accountIds: []
                      pageIds: []
                      send: false
                    twitter:
                      accountIds: []
                      send: false
                    nextdoor:
                      accounts: []
                      send: false
                    mobileBroadcast:
                      send: false
                      message: ""
                    myAlertsApp:
                      send: false
                    microsoftTeams:
                      sendWithHighImportance: false
                      send: false
                  clientContext:
                    isResend: false
                  formType: Quick
                  facilities:
                    facilities: []
                    areas: []
                  message:
                    priority: Emergency
                    basic:
                      subject: AlertSense Dev Environment
                      message: ""
                    files: []
                    language: en-us
                    incident:
                      id: e03472cc9a3843d182986e01e1f02307
                      name: Infrastructure Failure/Damage
                      priority: Emergency
                      type: Generic
                  recipients:
                    uniqueMyAlertsAppCount: 0
                    uniqueEtnCount: 0
                    uniqueGroupCount: 0
                    uniqueContactCount: 0
                    selectedContactCount: 0
                    selectedGroupCount: 0
                    groupIds: []
                    mandatoryGroupIds: []
                    contactIds: []
                    groups: []
                    contacts: []
                    directories: []
                    searchFilters: []
                  related:
                  - relatedAlertId: 1100
                    alertRelationType: Reply
                  security:
                    requireAuthentication: false
                    voicePin: ""
                  sender:
                    id: 1234
                    asset:
                      id: 539569f532ce46b293a0d4190f10ba3d
                      name: Tokyo Hilton
                    displayName: Tina Tester
                    email: tina.tester@alertsense.dev
                    callerId: "2085551234"
                    externalId: "1234"
                  hidden: false
                  weatherAlert: false
                  requestConfirmation: false
                  relatedAlertActions:
                    disableReplyAll: false
                status:
                  __type: "AlertSense.Hickory.Interfaces.ResponseStatus, AlertSense.Hickory.ServiceModel"
                  isSuccess: true
                  errorCode: None
                  validationFailures: []
                  messages: []
                hasErrors: false
                isValid: true
              schema:
                $ref: "#/components/schemas/SingleAlertDefaultsResponse"
          description: OK
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - alerts
      x-codegen-request-body-name: singleAlertDefaultsRequest
  /v2/alerts/find:
    post:
      description: List a summary of all alerts sent
      operationId: findAlerts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindAlertRequest"
        description: Filters for alert search
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                totalItemCount: 1
                pageCount: 1
                page: 1
                pageSize: 5
                items:
                - id: 1118
                  regionName: AlertSense Admin Region
                  timeSent: /Date(1463049000000)/
                  sender:
                    asset:
                      id: 539569f532ce46b293a0d4190f10ba3d
                      name: Tokyo Hilton
                    id: 1234
                    displayName: Development Administrator
                    email: dev@alertsense.com
                  facilities:
                    facilities: []
                    areas: []
                  message:
                    priority: NonEmergency
                    incident:
                      id: e03472cc9a3843d182986e01e1f02307
                      name: Infrastructure Failure/Damage
                      priority: Emergency
                      type: Generic
                    incidentId: e03472cc9a3843d182986e01e1f02307
                    basic:
                      subject: AlertSense Dev Environment
                      message: This is a test message. Lets send an alert!
                    files: []
                    language: en-us
                    severityAssessment:
                      responses:
                      - questionId: id.hilton.assessment.question.seriousillness
                        optionId: id.hilton.assessment.responses.yesno.yes
                      - questionId: id.hilton.assessment.question.propertydamage
                        optionId: id.hilton.assessment.responses.yesno.yes
                      comment: Send help now.
                  channels:
                    email:
                      send: true
                    fax:
                      send: false
                    push:
                      send: false
                    textMessage:
                      primary: true
                      secondary: false
                      deliveryMethod: Sms
                      send: true
                    voice:
                      cellPhone: false
                      businessPhone: false
                      homePhone: false
                      useOptOut: false
                      send: false
                    mobileBroadcast:
                      send: false
                      message: ""
                  recipients:
                    uniqueMyAlertsAppCount: 10
                    uniqueEtnCount: 5
                    uniqueContactCount: 45
                    groupIds:
                    - 1003
                    mandatoryGroupIds: []
                    contactIds: []
                  related:
                  - relatedAlertId: 1100
                    alertRelationType: Reply
                  alertType: Default
                  formType: Quick
                  hidden: false
              schema:
                $ref: "#/components/schemas/PagedAlertSettingsResponse"
          description: Success. List a summary of all alerts sent
        "401":
          content:
            application/json:
              example:
                error: Unauthorized.
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized.
        "500":
          content:
            application/json:
              example:
                error: Invalid User.
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid User.
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - alerts
      x-codegen-request-body-name: body
  /v2/alerts/preview:
    post:
      description: Validates an alert and returns a preview
      operationId: createAlertsPreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PreviewAlertRequest"
        description: Required parameters for previewing an alert
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                item:
                  id: 1118
                  timeSent: /Date(1463070600000-0000)/
                  alertType: Default
                  formType: Quick
                  sender:
                    id: 1234
                    asset:
                      id: 539569f532ce46b293a0d4190f10ba3d
                      name: Tokyo Hilton
                    displayName: Development Administrator
                    email: dev@alertsense.com
                  facilities:
                    facilities: []
                    areas: []
                  message:
                    priority: NonEmergency
                    incident:
                      id: e03472cc9a3843d182986e01e1f02307
                      name: Infrastructure Failure/Damage
                    incidentId: e03472cc9a3843d182986e01e1f02307
                    basic:
                      subject: AlertSense Dev Environment
                      message: This is a test message. Lets send from a template!
                    files: []
                    language: en-us
                  channels:
                    email:
                      recipientCount: 10
                      send: true
                    fax:
                      recipientCount: 0
                      send: false
                    push:
                      recipientCount: 0
                      send: false
                    textMessage:
                      recipientCount: 3
                      send: true
                    voice:
                      recipientCount: 5
                      send: true
                  recipients:
                    totalSelected: 18
                    totalRecipients: 14
                    groupIds:
                    - 1003
                    - 1004
                    - 1005
                    mandatoryGroupIds: []
                    contactIds: []
                hasErrors: false
                isValid: true
              schema:
                $ref: "#/components/schemas/SingleAlertSettingsResponse"
          description: A preview of the Alert to send
        "400":
          content:
            application/json:
              example:
                status:
                  isSuccess: false
                  errorCode: ValidationError
                  errorMessage: Subject is required to send this message.
                hasErrors: true
                isValid: true
              schema:
                $ref: "#/components/schemas/ApiResponse"
          description: "Bad request, likely due to validation errors."
        "401":
          content:
            application/json:
              example:
                error: Unauthorized.
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized.
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - alerts
      x-codegen-request-body-name: PreviewAlertRequest
  /v2/public/shortenedUrl:
    post:
      description: Create a shortened URL
      operationId: createShortenedUrl
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateShortenedUrlRequest"
        description: Required parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShortenedUrlResponse"
          description: Success
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - alerts
      x-codegen-request-body-name: CreateShortenedUrlRequest
  /v4/{tenantId}/distributionLists/createFromFile:
    post:
      description: Creates a distribution list from a CSV file structured after /v2/contacts/export
      operationId: createFromFile
      parameters:
      - description: Id of the tenant
        in: path
        name: tenantId
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDistributionListFromFileRequest"
        description: The file to create the list from.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDistributionListFromFileResponse"
          description: Success. Returns a paged list of the contacts from the distribution
            list.
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - contacts
      x-codegen-request-body-name: createDistributionListFromFileRequest
  /v2/alertsWithAttachments:
    post:
      operationId: createAlertWithAttachment
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/createAlertWithAttachment_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                AlertId: 0
                SentStatus:
                  AlertId: 1116
                  AlertType: 0
                  AlertStatus: Queued
                  DateSent: /Date(1461270312040-0000)/
                  DateCompleted: /Date(-62135596800000-0000)/
                  TimeZone: 'MT '
                  SenderName: Development Administrator
                  SenderEmail: dev@alertsense.com
                  Subject: AlertSense Dev Environment
                  Message: This is a test message. Lets send from a template!
                  Cancelled: false
                  Scheduled: false
                  Sent: false
                  Groups: []
                  Statuses: []
                  Errors: []
                HasErrors: false
                IsValid: true
              schema:
                $ref: "#/components/schemas/SendAlertResponse"
          description: successful operation
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      summary: Creates and queues an alert for sending with attachments
      tags:
      - alerts
  /v2/contacts/find:
    post:
      description: Returns a paged list of the contacts.
      operationId: findContacts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindContactRequest"
        description: Filters for contact search
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                totalItemCount: 2
                pageCount: 2
                page: 1
                pageSize: 5
                items:
                - id: 0
                  credentialId: 10
                  firstName: Princess
                  lastName: Jasmine
                  emails:
                  - magic.carpet1337@gmail.com
                  - magic.carpet1338@gmail.com
                  - magic.carpet1339@gmail.com
                  phones:
                  - "+12025554444"
                  - "+12025554445"
                  chatUser:
                    id: test.1000.0.a1576c14-6f72-4a5c-acf3-c33444cd75a7
                    displayName: "Jasmine, Princess"
                    firstName: Princess
                    lastName: Jasmine
                    emailAddress: magic.carpet1337@gmail.com
                    metadata: "{\"ContactId\":0,\"UserId\":0,\"TenantId\":1000}"
                - id: 1
                  credentialId: 11
                  firstName: Captain
                  lastName: Gerrit
                  emails:
                  - git.review@gmail.com
                  phones:
                  - "+12025554446"
                  chatUser:
                    id: test.1000.1.C22F1D0E-9E59-4A11-A918-181F3A407F0E
                    displayName: "Gerrit, Captain"
                    firstName: Captain
                    lastName: Gerrit
                    emailAddress: git.review@gmail.com
                    metadata: "{\"ContactId\":1,\"UserId\":1,\"TenantId\":1000}"
              schema:
                $ref: "#/components/schemas/PagedContactResponse"
          description: Success. Returns a paged list of the contacts.
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - contacts
      x-codegen-request-body-name: body
  /v2.1/groups/tree:
    get:
      description: Returns a paged set of `GroupTreeNode` objects.
      operationId: getGroupTreeNodes
      parameters:
      - description: Id of the group to look up
        in: query
        name: groupId
        schema:
          format: int32
          type: integer
      - description: the classification of the groups to return. (Internal vs. Public)
        in: query
        name: classification
        schema:
          enum:
          - Internal
          - Public
          type: string
      - description: The page number of items to return. (1 by default)
        in: query
        name: page
        schema:
          default: 1
          format: int32
          type: integer
      - description: The desired number of items per page. (25 by default)
        in: query
        name: pageSize
        schema:
          default: 25
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedGroupTreeNodeResponse"
          description: Success
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - groups
      - v2.1
  /v2/features/count:
    post:
      operationId: postFeaturesCount
      parameters:
      - description: Ordered comma-separated search parameter keys
        in: query
        name: keys
        schema:
          type: string
      - description: Ordered comma-separated search parameter values to match
        in: query
        name: values
        schema:
          type: string
      - description: The type of object you want to search for in the given feature
          collection.
        in: query
        name: featuresSource
        schema:
          enum:
          - Assets
          - Groups
          - Users
          - PublicUsers
          - InternalUsers
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeatureCollectionRequest"
        description: geoJson by which to constrain results via geographic intersection
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                count: 1
              schema:
                $ref: "#/components/schemas/CountResponse"
          description: Success.  Returns feature count for given layerId; filtered
            by geoJson
      security:
      - JwtBearerTokenScheme: []
        Oauth2Scheme: []
      tags:
      - alerts
      x-codegen-request-body-name: geoJson
components:
  parameters:
    endDate:
      description: The ending date for the date range.
      in: query
      name: endDate
      schema:
        format: date-time
        type: string
    integrationsCategory:
      description: The category of integration history items.
      in: query
      name: category
      schema:
        enum:
        - None
        - Event
        - Trigger
        - Action
        - Status
        type: string
    level:
      description: The level of history items.
      in: query
      name: level
      schema:
        enum:
        - Debug
        - Information
        - Warning
        - Error
        type: string
    page:
      description: The page number of items to return. (1 by default)
      in: query
      name: page
      schema:
        default: 1
        format: int32
        type: integer
    pageSize:
      description: The desired number of items per page. (25 by default)
      in: query
      name: pageSize
      schema:
        default: 25
        format: int32
        type: integer
    search:
      description: A value matched against one or more resource properties.
      in: query
      name: search
      schema:
        type: string
    sort:
      description: "A comma seperated list of properties to order by. Properties preceded\
        \ by a '-' will be ordered descending. (e.g.  ?sort=lastName,firstName,-responseTime).\
        \ Property names are case insensitive."
      in: query
      name: sort
      schema:
        type: string
    startDate:
      description: The starting date for the date range.
      in: query
      name: startDate
      schema:
        format: date-time
        type: string
  responses:
    "204":
      content: {}
      description: Success. No Content.
    "400":
      content:
        application/json:
          example:
            error: Bad request.
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: Bad request.
    "401":
      content:
        application/json:
          example:
            error: Unauthorized.
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: Unauthorized.
    "403":
      content:
        application/json:
          example:
            error: Forbidden.
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: Forbidden.
    "404":
      content:
        application/json:
          example:
            error: Not Found.
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: Not Found.
    "500":
      content:
        application/json:
          example:
            error: Unexpected server error.
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: Internal server error.
  schemas:
    AccessFilter:
      example:
        requireMembership: true
        domains:
        - domains
        - domains
        domainTypes:
        - domainTypes
        - domainTypes
        conditions:
        - mapping: mapping
          expression: expression
          field: field
          values:
          - values
          - values
        - mapping: mapping
          expression: expression
          field: field
          values:
          - values
          - values
        mandatoryAlerting: true
      properties:
        domains:
          items:
            type: string
          type: array
        domainTypes:
          items:
            type: string
          type: array
        requireMembership:
          type: boolean
        mandatoryAlerting:
          type: boolean
        conditions:
          items:
            $ref: "#/components/schemas/AccessFilterCondition"
          type: array
      type: object
    AccessFilterCondition:
      example:
        mapping: mapping
        expression: expression
        field: field
        values:
        - values
        - values
      properties:
        field:
          type: string
        expression:
          type: string
        mapping:
          type: string
        values:
          items:
            type: string
          type: array
      type: object
    AccessRecipe:
      example:
        filter:
          requireMembership: true
          domains:
          - domains
          - domains
          domainTypes:
          - domainTypes
          - domainTypes
          conditions:
          - mapping: mapping
            expression: expression
            field: field
            values:
            - values
            - values
          - mapping: mapping
            expression: expression
            field: field
            values:
            - values
            - values
          mandatoryAlerting: true
        role:
          name: name
          ignoreMandatoryAlertGroupPolicies: true
          id: id
          hasFullCommAccess: true
          order: 4
        displayName: displayName
        id: id
        type: type
        group:
          path: path
          name: name
          id: id
          parentId: parentId
      properties:
        filter:
          $ref: "#/components/schemas/AccessFilter"
        displayName:
          type: string
        id:
          type: string
        type:
          type: string
        group:
          $ref: "#/components/schemas/DisplayGroup"
        role:
          $ref: "#/components/schemas/DisplayRole"
      type: object
    AggregatedChannelResult:
      example:
        ChannelName: ChannelName
        StatusTypes:
          key: StatusTypes
        TotalChannelRecipients: 0
      properties:
        ChannelName:
          type: string
        StatusTypes:
          additionalProperties:
            type: string
          type: object
        TotalChannelRecipients:
          type: integer
      type: object
    AggregatedChannelResults:
      example:
        Smtp:
          ChannelName: ChannelName
          StatusTypes:
            key: StatusTypes
          TotalChannelRecipients: 0
        Email:
          ChannelName: ChannelName
          StatusTypes:
            key: StatusTypes
          TotalChannelRecipients: 0
        Sms:
          ChannelName: ChannelName
          StatusTypes:
            key: StatusTypes
          TotalChannelRecipients: 0
        MobilePush:
          ChannelName: ChannelName
          StatusTypes:
            key: StatusTypes
          TotalChannelRecipients: 0
        MicrosoftTeams:
          ChannelName: ChannelName
          StatusTypes:
            key: StatusTypes
          TotalChannelRecipients: 0
        Fax:
          ChannelName: ChannelName
          StatusTypes:
            key: StatusTypes
          TotalChannelRecipients: 0
        Voice:
          ChannelName: ChannelName
          StatusTypes:
            key: StatusTypes
          TotalChannelRecipients: 0
        Etn:
          ChannelName: ChannelName
          StatusTypes:
            key: StatusTypes
          TotalChannelRecipients: 0
      properties:
        Sms:
          $ref: "#/components/schemas/AggregatedChannelResult"
        Smtp:
          $ref: "#/components/schemas/AggregatedChannelResult"
        Voice:
          $ref: "#/components/schemas/AggregatedChannelResult"
        Email:
          $ref: "#/components/schemas/AggregatedChannelResult"
        Etn:
          $ref: "#/components/schemas/AggregatedChannelResult"
        MobilePush:
          $ref: "#/components/schemas/AggregatedChannelResult"
        Fax:
          $ref: "#/components/schemas/AggregatedChannelResult"
        MicrosoftTeams:
          $ref: "#/components/schemas/AggregatedChannelResult"
      type: object
    AggregatedChannelSummaryResponse:
      allOf:
      - $ref: "#/components/schemas/ApiResponse"
      - properties:
          Item:
            $ref: "#/components/schemas/AggregatedChannelResults"
        type: object
      example:
        Item:
          Smtp:
            ChannelName: ChannelName
            StatusTypes:
              key: StatusTypes
            TotalChannelRecipients: 0
          Email:
            ChannelName: ChannelName
            StatusTypes:
              key: StatusTypes
            TotalChannelRecipients: 0
          Sms:
            ChannelName: ChannelName
            StatusTypes:
              key: StatusTypes
            TotalChannelRecipients: 0
          MobilePush:
            ChannelName: ChannelName
            StatusTypes:
              key: StatusTypes
            TotalChannelRecipients: 0
          MicrosoftTeams:
            ChannelName: ChannelName
            StatusTypes:
              key: StatusTypes
            TotalChannelRecipients: 0
          Fax:
            ChannelName: ChannelName
            StatusTypes:
              key: StatusTypes
            TotalChannelRecipients: 0
          Voice:
            ChannelName: ChannelName
            StatusTypes:
              key: StatusTypes
            TotalChannelRecipients: 0
          Etn:
            ChannelName: ChannelName
            StatusTypes:
              key: StatusTypes
            TotalChannelRecipients: 0
        hasErrors: true
        isValid: true
        status:
          resourceKey: error.notFound
          isSuccess: false
          errorCode: NotFound
          errorMessage: The item cannot be found.
          validationFailures:
          - propertyName: email
            errorMessage: Value is required
            errorCode: Required
            attemptedValue: chester.tester@mailinator.com
          messages:
          - severity: Warning
            message: My custom message
    AlertDefaults:
      allOf:
      - $ref: "#/components/schemas/AlertSettings"
      - properties:
          fields:
            items:
              $ref: "#/components/schemas/Field"
            type: array
          severityAssessmentId:
            format: guid
            type: string
        type: object
      example:
        hidden: true
        publicAlert: true
        regionName: regionName
        weatherAlert: true
        relatedAlertActions:
          disableReplyAll: true
        pipelineSettings:
          useEmailModuleV3: true
        security:
          requireAuthentication: true
          voicePin: voicePin
        related:
        - senderContacts:
          - lastName: lastName
            notes: notes
            agency: agency
            externalId: externalId
            phones:
            - number: number
              phoneType: Cell
              voiceStatus: Inactive
              smsStatus: Inactive
              smsOptOutDate: 2000-01-23T04:56:07.000+00:00
              voiceOptOutDate: 2000-01-23T04:56:07.000+00:00
              priority: 1
            - number: number
              phoneType: Cell
              voiceStatus: Inactive
              smsStatus: Inactive
              smsOptOutDate: 2000-01-23T04:56:07.000+00:00
              voiceOptOutDate: 2000-01-23T04:56:07.000+00:00
              priority: 1
            title: title
            type: type
            chatUser:
              firstName: firstName
              lastName: lastName
              emailAddress: emailAddress
              metadata: metadata
              phoneNumber: phoneNumber
              avatarUrl: avatarUrl
              displayName: displayName
              id: id
              publicKey: publicKey
            emails:
            - address: address
            - address: address
            firstName: firstName
            mobileAppUser: true
            credentialId: 4
            id: 6
            asset:
              name: name
              externalId: externalId
              id: id
            businessAddress: businessAddress
            status: status
          - lastName: lastName
            notes: notes
            agency: agency
            externalId: externalId
            phones:
            - number: number
              phoneType: Cell
              voiceStatus: Inactive
              smsStatus: Inactive
              smsOptOutDate: 2000-01-23T04:56:07.000+00:00
              voiceOptOutDate: 2000-01-23T04:56:07.000+00:00
              priority: 1
            - number: number
              phoneType: Cell
              voiceStatus: Inactive
              smsStatus: Inactive
              smsOptOutDate: 2000-01-23T04:56:07.000+00:00
              voiceOptOutDate: 2000-01-23T04:56:07.000+00:00
              priority: 1
            title: title
            type: type
            chatUser:
              firstName: firstName
              lastName: lastName
              emailAddress: emailAddress
              metadata: metadata
              phoneNumber: phoneNumber
              avatarUrl: avatarUrl
              displayName: displayName
              id: id
              publicKey: publicKey
            emails:
            - address: address
            - address: address
            firstName: firstName
            mobileAppUser: true
            credentialId: 4
            id: 6
            asset:
              name: name
              externalId: externalId
              id: id
            businessAddress: businessAddress
            status: status
          relatedAlertId: 0
          alertRelationType: Related
        - senderContacts:
          - lastName: lastName
            notes: notes
            agency: agency
            externalId: externalId
            phones:
            - number: number
              phoneType: Cell
              voiceStatus: Inactive
              smsStatus: Inactive
              smsOptOutDate: 2000-01-23T04:56:07.000+00:00
              voiceOptOutDate: 2000-01-23T04:56:07.000+00:00
              priority: 1
            - number: number
              phoneType: Cell
              voiceStatus: Inactive
              smsStatus: Inactive
              smsOptOutDate: 2000-01-23T04:56:07.000+00:00
              voiceOptOutDate: 2000-01-23T04:56:07.000+00:00
              priority: 1
            title: title
            type: type
            chatUser:
              firstName: firstName
              lastName: lastName
              emailAddress: emailAddress
              metadata: metadata
              phoneNumber: phoneNumber
              avatarUrl: avatarUrl
              displayName: displayName
              id: id
              publicKey: publicKey
            emails:
            - address: address
            - address: address
            firstName: firstName
            mobileAppUser: true
            credentialId: 4
            id: 6
            asset:
              name: name
              externalId: externalId
              id: id
            businessAddress: businessAddress
            status: status
          - lastName: lastName
            notes: notes
            agency: agency
            externalId: externalId
            phones:
            - number: number
              phoneType: Cell
              voiceStatus: Inactive
              smsStatus: Inactive
              smsOptOutDate: 2000-01-23T04:56:07.000+00:00
              voiceOptOutDate: 2000-01-23T04:56:07.000+00:00
              priority: 1
            - number: number
              phoneType: Cell
              voiceStatus: Inactive
              smsStatus: Inactive
              smsOptOutDate: 2000-01-23T04:56:07.000+00:00
              voiceOptOutDate: 2000-01-23T04:56:07.000+00:00
              priority: 1
            title: title
            type: type
            chatUser:
              firstName: firstName
              lastName: lastName
              emailAddress: emailAddress
              metadata: metadata
              phoneNumber: phoneNumber
              avatarUrl: avatarUrl
              displayName: displayName
              id: id
              publicKey: publicKey
            emails:
            - address: address
            - address: address
            firstName: firstName
            mobileAppUser: true
            credentialId: 4
            id: 6
            asset:
              name: name
              externalId: externalId
              id: id
            businessAddress: businessAddress
            status: status
          relatedAlertId: 0
          alertRelationType: Related
        prioritySettings:
          priorityOption: None
          priorityOrder:
          - Cell
          - Cell
        capKey: capKey
        id: 6
        capXml: capXml
        clientContext:
          clientId: clientId
          clientName: clientName
          templateId: 3
          clientVersion: clientVersion
          deviceId: deviceId
          platform: platform
          isResend: true
        severityAssessmentId: severityAssessmentId
        formType: Unused
        alertType: Unused
        workflow:
          settings:
            key: settings
          name: name
          triggers:
          - triggers
          - triggers
          version: version
          key: key
        timeSent: 2000-01-23T04:56:07.000+00:00
        requestConfirmation: true
        message:
          conference:
            keywordId: keywordId
            question: question
            keyword: keyword
          severityAssessment:
            responses:
            - questionId: questionId
              question: question
              optionId: optionId
              option: option
            - questionId: questionId
              question: question
              optionId: optionId
              option: option
            comment: comment
          language: language
          poll:
            keywordId: keywordId
            questionId: 6
            question: question
            options:
            - selectionChoice: 2
              criticality: None
              description: description
              optionId: 1
              value: value
            - selectionChoice: 2
              criticality: None
              description: description
              optionId: 1
              value: value
            keyword: keyword
          priority: Emergency
          socialMedia:
            image:
              Path: Path
              IsAudio: true
              Description: Description
              ContentType: ContentType
              FileName: FileName
              Metadata:
                key: Metadata
              DateCreated: 2000-01-23T04:56:07.000+00:00
              IsImage: true
              EasAudioUrl: EasAudioUrl
              Folder: Folder
              VoiceAudioUrl: VoiceAudioUrl
              Extension: Extension
              FileAttachmentType: None
              OwnerId: 1
              Length: 1.0246457001441578
              PublicUrl: PublicUrl
              Id: Id
              IsPrivate: true
              FileSize: FileSize
          translate: true
          content:
            publicContentId: 6
            publicContentPageRequested: true
          incidentEvent:
            largeScaleEventId: largeScaleEventId
            name: name
            incidentType:
              loudToneSettings:
                onReply: true
                onAssociatedEventCommunication: true
                onInitialIncidentReport: true
                onForward: true
              name: name
              showAssessment: true
              id: id
              classification: Emergency
            id: id
            incidentCategory:
              name: name
              id: id
          expireDateTimeUtc: 2000-01-23T04:56:07.000+00:00
          files:
          - fileName: fileName
            fileMetadata:
              key: fileMetadata
            length: 3.5571952270680973
            description: description
            fileAttachmentType: None
            ownerId: 6
            contentType: contentType
            uri: https://openapi-generator.tech
          - fileName: fileName
            fileMetadata:
              key: fileMetadata
            length: 3.5571952270680973
            description: description
            fileAttachmentType: None
            ownerId: 6
            contentType: contentType
            uri: https://openapi-generator.tech
          survey:
            sender:
              response:
                name: name
                description: description
                id: id
                uri: uri
              survey:
                name: name
                description: description
                id: id
                uri: uri
              allowMultipleResponses: true
            recipient:
              response:
                name: name
                description: description
                id: id
                uri: uri
              survey:
                name: name
                description: description
                id: id
                uri: uri
              allowMultipleResponses: true
          basic:
            messageRichContent: messageRichContent
            messageBody: messageBody
            externalLink: externalLink
            subject: subject
            message: message
          incidentId: incidentId
          incident:
            name: name
            externalId: externalId
            id: id
            type: Generic
            priority: null
          customMessageVariables:
            csvDistributionListId: csvDistributionListId
            validMessages: true
            resolvedMessages:
              key:
                template: template
                usedMessageVariables:
                  key:
                  - usedMessageVariables
                  - usedMessageVariables
                isError: true
                source: Alert
                sampleValue: sampleValue
                value: value
                friendlyName: friendlyName
                placeHolder: placeHolder
                maxLength: 5
                validationFailures:
                - propertyName: email
                  errorMessage: Value is required
                  errorCode: Required
                  attemptedValue: chester.tester@mailinator.com
                  resourceKey: validation.required
                - propertyName: email
                  errorMessage: Value is required
                  errorCode: Required
                  attemptedValue: chester.tester@mailinator.com
                  resourceKey: validation.required
            useMessageVariables: true
        userId: 9
        schedule:
          duration: 4
          icalData: icalData
          recurringEnd: 2000-01-23T04:56:07.000+00:00
          recurringDay: 7
          scheduled: true
          lastOccurrenceError: true
          expireDateTimeUtc: 2000-01-23T04:56:07.000+00:00
          scheduledAlertSettingsId: 9
          scheduledDateTime: 2000-01-23T04:56:07.000+00:00
          type: Hickory
        channels:
          textMessage:
            secondary: true
            recipientCount: 9
            deliveryMethod: Sms
            message: message
            send: true
            primary: true
          voice:
            channelMessage: channelMessage
            audioFile:
              Path: Path
              IsAudio: true
              Description: Description
              ContentType: ContentType
              FileName: FileName
              Metadata:
                key: Metadata
              DateCreated: 2000-01-23T04:56:07.000+00:00
              IsImage: true
              EasAudioUrl: EasAudioUrl
              Folder: Folder
              VoiceAudioUrl: VoiceAudioUrl
              Extension: Extension
              FileAttachmentType: None
              OwnerId: 1
              Length: 1.0246457001441578
              PublicUrl: PublicUrl
              Id: Id
              IsPrivate: true
              FileSize: FileSize
            recipientCount: 1
            homePhone: true
            landLine: true
            businessPhone: true
            message: message
            send: true
            cellPhone: true
          microsoftTeams:
            sendWithHighImportance: true
            message: message
            send: true
          facebook:
            pageIds:
            - 5
            - 5
            recipientCount: 5
            message: message
            send: true
          nextdoor:
            accounts:
            - name: name
              groups:
              - name: name
                id: 7
              - name: name
                id: 7
              id: 4
            - name: name
              groups:
              - name: name
                id: 7
              - name: name
                id: 7
              id: 4
            message: message
            send: true
            hashTag: hashTag
          push:
            recipientCount: 7
            message: message
            send: true
          twitter:
            recipientCount: 3
            accountIds:
            - 2
            - 2
            message: message
            send: true
          myAlertsApp:
            message: message
            send: true
          eas:
            recipientCount: 6
            easDetailsUrl: easDetailsUrl
            message: message
            send: true
            easId: 0
          mobileBroadcast:
            message: message
            send: true
          fax:
            recipientCount: 2
            message: message
            send: true
          email:
            recipientCount: 1
            requestConfirmation: true
            message: message
            send: true
          etn:
            importUsers: true
            message: message
            send: true
            publicUsers: true
            directoryUsers: true
        regionId: 4
        sender:
          displayName: displayName
          name:
            givenName: givenName
            familyName: familyName
          externalId: externalId
          id: 0
          callerId: callerId
          asset:
            name: name
            externalId: externalId
            id: id
          email: email
        recipients:
          selectedContactCount: 5
          uniqueGroupCount: 3
          searches:
          - name: name
            id: id
          - name: name
            id: id
          featureLayers:
          - FilterGroupIds:
            - FilterGroupIds
            - FilterGroupIds
            FilterLegacyGroupIds:
            - 3
            - 3
            FeaturesSource: Default
            DirectoryId: DirectoryId
            Count: 7
            Name: Name
          - FilterGroupIds:
            - FilterGroupIds
            - FilterGroupIds
            FilterLegacyGroupIds:
            - 3
            - 3
            FeaturesSource: Default
            DirectoryId: DirectoryId
            Count: 7
            Name: Name
          uniqueMyAlertsAppCount: 7
          selectedGroupCount: 7
          uniqueEtnCount: 0
          municipals:
            selections:
            - cityName: cityName
              stateName: stateName
              stateCode: stateCode
              fipsCode: fipsCode
              type: None
              countyName: countyName
            - cityName: cityName
              stateName: stateName
              stateCode: stateCode
              fipsCode: fipsCode
              type: None
              countyName: countyName
            sendTo:
            - FilterGroupIds:
              - FilterGroupIds
              - FilterGroupIds
              FilterLegacyGroupIds:
              - 3
              - 3
              FeaturesSource: Default
              DirectoryId: DirectoryId
              Count: 7
              Name: Name
            - FilterGroupIds:
              - FilterGroupIds
              - FilterGroupIds
              FilterLegacyGroupIds:
              - 3
              - 3
              FeaturesSource: Default
              DirectoryId: DirectoryId
              Count: 7
              Name: Name
            cities:
            - cityName: cityName
              stateCode: stateCode
            - cityName: cityName
              stateCode: stateCode
            zipCodes:
            - zipCodes
            - zipCodes
          distributionListId: distributionListId
          groups:
          - isLink: true
            path: path
            name: name
            externalId: externalId
            id: 4
            classification: classification
            parentId: 8
          - isLink: true
            path: path
            name: name
            externalId: externalId
            id: 4
            classification: classification
            parentId: 8
          searchIds:
          - searchIds
          - searchIds
          contactIds:
          - 6
          - 6
          uniqueContactCount: 7
          individualNumber: individualNumber
          mandatoryGroupIds:
          - 3
          - 3
          adHocFileUrl: adHocFileUrl
          groupIds:
          - 3
          - 3
          geofences:
            features:
            - crs:
                type: Unspecified
              bbox:
              - 8.762042012749001
              - 8.762042012749001
              geometry:
                bbox:
                - 9.369310271410669
                - 9.369310271410669
                coordinates:
                - - - 6.683562403749608
                    - 6.683562403749608
                  - - 6.683562403749608
                    - 6.683562403749608
                - - - 6.683562403749608
                    - 6.683562403749608
                  - - 6.683562403749608
                    - 6.683562403749608
                type: Point
              id: id
              type: Point
              properties:
                key: "{}"
            - crs:
                type: Unspecified
              bbox:
              - 8.762042012749001
              - 8.762042012749001
              geometry:
                bbox:
                - 9.369310271410669
                - 9.369310271410669
                coordinates:
                - - - 6.683562403749608
                    - 6.683562403749608
                  - - 6.683562403749608
                    - 6.683562403749608
                - - - 6.683562403749608
                    - 6.683562403749608
                  - - 6.683562403749608
                    - 6.683562403749608
                type: Point
              id: id
              type: Point
              properties:
                key: "{}"
            crs:
              type: Unspecified
            bbox:
            - 6.438423552598547
            - 6.438423552598547
            spatialReference:
              wkid: 9
            type: Point
          directories:
          - uniqueContactCount: 3
            mandatoryGroupIds:
            - mandatoryGroupIds
            - mandatoryGroupIds
            geoTargetUsers: true
            groupIds:
            - groupIds
            - groupIds
            directoryId: directoryId
            contactIds:
            - contactIds
            - contactIds
          - uniqueContactCount: 3
            mandatoryGroupIds:
            - mandatoryGroupIds
            - mandatoryGroupIds
            geoTargetUsers: true
            groupIds:
            - groupIds
            - groupIds
            directoryId: directoryId
            contactIds:
            - contactIds
            - contactIds
          searchFilters:
          - filter:
              requireMembership: true
              domains:
              - domains
              - domains
              domainTypes:
              - domainTypes
              - domainTypes
              conditions:
              - mapping: mapping
                expression: expression
                field: field
                values:
                - values
                - values
              - mapping: mapping
                expression: expression
                field: field
                values:
                - values
                - values
              mandatoryAlerting: true
            role:
              name: name
              ignoreMandatoryAlertGroupPolicies: true
              id: id
              hasFullCommAccess: true
              order: 4
            displayName: displayName
            id: id
            type: type
            group:
              path: path
              name: name
              id: id
              parentId: parentId
          - filter:
              requireMembership: true
              domains:
              - domains
              - domains
              domainTypes:
              - domainTypes
              - domainTypes
              conditions:
              - mapping: mapping
                expression: expression
                field: field
                values:
                - values
                - values
              - mapping: mapping
                expression: expression
                field: field
                values:
                - values
                - values
              mandatoryAlerting: true
            role:
              name: name
              ignoreMandatoryAlertGroupPolicies: true
              id: id
              hasFullCommAccess: true
              order: 4
            displayName: displayName
            id: id
            type: type
            group:
              path: path
              name: name
              id: id
              parentId: parentId
          contacts:
          - externalId: externalId
            credentialId: 0
            id: 6
          - externalId: externalId
            credentialId: 0
            id: 6
        brandId: 4
        location:
          areas:
          - geofences:
              features:
              - crs:
                  type: Unspecified
                bbox:
                - 8.762042012749001
                - 8.762042012749001
                geometry:
                  bbox:
                  - 9.369310271410669
                  - 9.369310271410669
                  coordinates:
                  - - - 6.683562403749608
                      - 6.683562403749608
                    - - 6.683562403749608
                      - 6.683562403749608
                  - - - 6.683562403749608
                      - 6.683562403749608
                    - - 6.683562403749608
                      - 6.683562403749608
                  type: Point
                id: id
                type: Point
                properties:
                  key: "{}"
              - crs:
                  type: Unspecified
                bbox:
                - 8.762042012749001
                - 8.762042012749001
                geometry:
                  bbox:
                  - 9.369310271410669
                  - 9.369310271410669
                  coordinates:
                  - - - 6.683562403749608
                      - 6.683562403749608
                    - - 6.683562403749608
                      - 6.683562403749608
                  - - - 6.683562403749608
                      - 6.683562403749608
                    - - 6.683562403749608
                      - 6.683562403749608
                  type: Point
                id: id
                type: Point
                properties:
                  key: "{}"
              crs:
                type: Unspecified
              bbox:
              - 6.438423552598547
              - 6.438423552598547
              spatialReference:
                wkid: 9
              type: Point
            name: name
            id: id
          - geofences:
              features:
              - crs:
                  type: Unspecified
                bbox:
                - 8.762042012749001
                - 8.762042012749001
                geometry:
                  bbox:
                  - 9.369310271410669
                  - 9.369310271410669
                  coordinates:
                  - - - 6.683562403749608
                      - 6.683562403749608
                    - - 6.683562403749608
                      - 6.683562403749608
                  - - - 6.683562403749608
                      - 6.683562403749608
                    - - 6.683562403749608
                      - 6.683562403749608
                  type: Point
                id: id
                type: Point
                properties:
                  key: "{}"
              - crs:
                  type: Unspecified
                bbox:
                - 8.762042012749001
                - 8.762042012749001
                geometry:
                  bbox:
                  - 9.369310271410669
                  - 9.369310271410669
                  coordinates:
                  - - - 6.683562403749608
                      - 6.683562403749608
                    - - 6.683562403749608
                      - 6.683562403749608
                  - - - 6.683562403749608
                      - 6.683562403749608
                    - - 6.683562403749608
                      - 6.683562403749608
                  type: Point
                id: id
                type: Point
                properties:
                  key: "{}"
              crs:
                type: Unspecified
              bbox:
              - 6.438423552598547
              - 6.438423552598547
              spatialReference:
                wkid: 9
              type: Point
            name: name
            id: id
          facilities:
          - area: area
            country: country
            phoneNumber: phoneNumber
            address2: address2
            city: city
            address1: address1
            postalCode: postalCode
            name: name
            location:
              latitude: 7.457744773683766
              longitude: 1.1730742509559433
            id: id
            state: state
            region: region
          - area: area
            country: country
            phoneNumber: phoneNumber
            address2: address2
            city: city
            address1: address1
            postalCode: postalCode
            name: name
            location:
              latitude: 7.457744773683766
              longitude: 1.1730742509559433
            id: id
            state: state
            region: region
          point:
            lng: 9.965781217890562
            lat: 5.025004791520295
        mobileBroadcast:
          areaDesc: areaDesc
          selectedLocations:
          - geocodeId: geocodeId
            name: name
          - geocodeId: geocodeId
            name: name
        completionStatus:
          pollResults:
            question: question
            optionResults:
            - selectionChoice: 6
              count: 5
              criticality: None
              description: description
              optionId: 4
              value: 8
            - selectionChoice: 6
              count: 5
              criticality: None
              description: description
              optionId: 4
              value: 8
            totalResponded: 7
          alertCompletion: Sent
          id: 0
          status: status
        facilities:
          areas:
          - id: id
            filters:
            - filter:
                requireMembership: true
                domains:
                - domains
                - domains
                domainTypes:
                - domainTypes
                - domainTypes
                conditions:
                - mapping: mapping
                  expression: expression
                  field: field
                  values:
                  - values
                  - values
                - mapping: mapping
                  expression: expression
                  field: field
                  values:
                  - values
                  - values
                mandatoryAlerting: true
              role:
                name: name
                ignoreMandatoryAlertGroupPolicies: true
                id: id
                hasFullCommAccess: true
                order: 4
              displayName: displayName
              id: id
              type: type
              group:
                path: path
                name: name
                id: id
                parentId: parentId
            - filter:
                requireMembership: true
                domains:
                - domains
                - domains
                domainTypes:
                - domainTypes
                - domainTypes
                conditions:
                - mapping: mapping
                  expression: expression
                  field: field
                  values:
                  - values
                  - values
                - mapping: mapping
                  expression: expression
                  field: field
                  values:
                  - values
                  - values
                mandatoryAlerting: true
              role:
                name: name
                ignoreMandatoryAlertGroupPolicies: true
                id: id
                hasFullCommAccess: true
                order: 4
              displayName: displayName
              id: id
              type: type
              group:
                path: path
                name: name
                id: id
                parentId: parentId
          - id: id
            filters:
            - filter:
                requireMembership: true
                domains:
                - domains
                - domains
                domainTypes:
                - domainTypes
                - domainTypes
                conditions:
                - mapping: mapping
                  expression: expression
                  field: field
                  values:
                  - values
                  - values
                - mapping: mapping
                  expression: expression
                  field: field
                  values:
                  - values
                  - values
                mandatoryAlerting: true
              role:
                name: name
                ignoreMandatoryAlertGroupPolicies: true
                id: id
                hasFullCommAccess: true
                order: 4
              displayName: displayName
              id: id
              type: type
              group:
                path: path
                name: name
                id: id
                parentId: parentId
            - filter:
                requireMembership: true
                domains:
                - domains
                - domains
                domainTypes:
                - domainTypes
                - domainTypes
                conditions:
                - mapping: mapping
                  expression: expression
                  field: field
                  values:
                  - values
                  - values
                - mapping: mapping
                  expression: expression
                  field: field
                  values:
                  - values
                  - values
                mandatoryAlerting: true
              role:
                name: name
                ignoreMandatoryAlertGroupPolicies: true
                id: id
                hasFullCommAccess: true
                order: 4
              displayName: displayName
              id: id
              type: type
              group:
                path: path
                name: name
                id: id
                parentId: parentId
          facilities:
          - name: name
            location:
              latitude: 7.457744773683766
              longitude: 1.1730742509559433
            id: id
          - name: name
            location:
              latitude: 7.457744773683766
              longitude: 1.1730742509559433
            id: id
        fields:
        - readonly: true
          name: name
          systemRequired: true
          invisible: true
          autofill: true
          required: true
        - readonly: true
          name: name
          systemRequired: true
          invisible: true
          autofill: true
          required: true
    AlertSentStatus:
      example:
        AlertId: 6
        Message: Message
        SenderName: SenderName
        SenderEmail: SenderEmail
        Subject: Subject
      properties:
        AlertId:
          format: int32
          type: integer
        Message:
          type: string
        SenderEmail:
          type: string
        SenderName:
          type: string
        Subject:
          type: string
      type: object
    AlertSettings:
      discriminator:
        propertyName: type
      example:
        hidden: true
        publicAlert: true
        regionName: regionName
        weatherAlert: true
        relatedAlertActions:
          disableReplyAll: true
        pipelineSettings:
          useEmailModuleV3: true
        security:
          requireAuthentication: true
          voicePin: voicePin
        related:
        - senderContacts:
          - lastName: lastName
            notes: notes
            agency: agency
            externalId: externalId
            phones:
            - number: number
              phoneType: Cell
              voiceStatus: Inactive
              smsStatus: Inactive
              smsOptOutDate: 2000-01-23T04:56:07.000+00:00
              voiceOptOutDate: 2000-01-23T04:56:07.000+00:00
              priority: 1
            - number: number
              phoneType: Cell
              voiceStatus: Inactive
              smsStatus: Inactive
              smsOptOutDate: 2000-01-23T04:56:07.000+00:00
              voiceOptOutDate: 2000-01-23T04:56:07.000+00:00
              priority: 1
            title: title
            type: type
            chatUser:
              firstName: firstName
              lastName: lastName
              emailAddress: emailAddress
              metadata: metadata
              phoneNumber: phoneNumber
              avatarUrl: avatarUrl
              displayName: displayName
              id: id
              publicKey: publicKey
            emails:
            - address: address
            - address: address
            firstName: firstName
            mobileAppUser: true
            credentialId: 4
            id: 6
            asset:
              name: name
              externalId: externalId
              id: id
            businessAddress: businessAddress
            status: status
          - lastName: lastName
            notes: notes
            agency: agency
            externalId: externalId
            phones:
            - number: number
              phoneType: Cell
              voiceStatus: Inactive
              smsStatus: Inactive
              smsOptOutDate: 2000-01-23T04:56:07.000+00:00
              voiceOptOutDate: 2000-01-23T04:56:07.000+00:00
              priority: 1
            - number: number
              phoneType: Cell
              voiceStatus: Inactive
              smsStatus: Inactive
              smsOptOutDate: 2000-01-23T04:56:07.000+00:00
              voiceOptOutDate: 2000-01-23T04:56:07.000+00:00
              priority: 1
            title: title
            type: type
            chatUser:
              firstName: firstName
              lastName: lastName
              emailAddress: emailAddress
              metadata: metadata
              phoneNumber: phoneNumber
              avatarUrl: avatarUrl
              displayName: displayName
              id: id
              publicKey: publicKey
            emails:
            - address: address
            - address: address
            firstName: firstName
            mobileAppUser: true
            credentialId: 4
            id: 6
            asset:
              name: name
              externalId: externalId
              id: id
            businessAddress: businessAddress
            status: status
          relatedAlertId: 0
          alertRelationType: Related
        - senderContacts:
          - lastName: lastName
            notes: notes
            agency: agency
            externalId: externalId
            phones:
            - number: number
              phoneType: Cell
              voiceStatus: Inactive
              smsStatus: Inactive
              smsOptOutDate: 2000-01-23T04:56:07.000+00:00
              voiceOptOutDate: 2000-01-23T04:56:07.000+00:00
              priority: 1
            - number: number
              phoneType: Cell
              voiceStatus: Inactive
              smsStatus: Inactive
              smsOptOutDate: 2000-01-23T04:56:07.000+00:00
              voiceOptOutDate: 2000-01-23T04:56:07.000+00:00
              priority: 1
            title: title
            type: type
            chatUser:
              firstName: firstName
              lastName: lastName
              emailAddress: emailAddress
              metadata: metadata
              phoneNumber: phoneNumber
              avatarUrl: avatarUrl
              displayName: displayName
              id: id
              publicKey: publicKey
            emails:
            - address: address
            - address: address
            firstName: firstName
            mobileAppUser: true
            credentialId: 4
            id: 6
            asset:
              name: name
              externalId: externalId
              id: id
            businessAddress: businessAddress
            status: status
          - lastName: lastName
            notes: notes
            agency: agency
            externalId: externalId
            phones:
            - number: number
              phoneType: Cell
              voiceStatus: Inactive
              smsStatus: Inactive
              smsOptOutDate: 2000-01-23T04:56:07.000+00:00
              voiceOptOutDate: 2000-01-23T04:56:07.000+00:00
              priority: 1
            - number: number
              phoneType: Cell
              voiceStatus: Inactive
              smsStatus: Inactive
              smsOptOutDate: 2000-01-23T04:56:07.000+00:00
              voiceOptOutDate: 2000-01-23T04:56:07.000+00:00
              priority: 1
            title: title
            type: type
            chatUser:
              firstName: firstName
              lastName: lastName
              emailAddress: emailAddress
              metadata: metadata
              phoneNumber: phoneNumber
              avatarUrl: avatarUrl
              displayName: displayName
              id: id
              publicKey: publicKey
            emails:
            - address: address
            - address: address
            firstName: firstName
            mobileAppUser: true
            credentialId: 4
            id: 6
            asset:
              name: name
              externalId: externalId
              id: id
            businessAddress: businessAddress
            status: status
          relatedAlertId: 0
          alertRelationType: Related
        prioritySettings:
          priorityOption: None
          priorityOrder:
          - Cell
          - Cell
        capKey: capKey
        id: 0
        capXml: capXml
        clientContext:
          clientId: clientId
          clientName: clientName
          templateId: 3
          clientVersion: clientVersion
          deviceId: deviceId
          platform: platform
          isResend: true
        formType: Unused
        alertType: Unused
        workflow:
          settings:
            key: settings
          name: name
          triggers:
          - triggers
          - triggers
          version: version
          key: key
        timeSent: 2000-01-23T04:56:07.000+00:00
        requestConfirmation: true
        message:
          conference:
            keywordId: keywordId
            question: question
            keyword: keyword
          severityAssessment:
            responses:
            - questionId: questionId
              question: question
              optionId: optionId
              option: option
            - questionId: questionId
              question: question
              optionId: optionId
              option: option
            comment: comment
          language: language
          poll:
            keywordId: keywordId
            questionId: 6
            question: question
            options:
            - selectionChoice: 2
              criticality: None
              description: description
              optionId: 1
              value: value
            - selectionChoice: 2
              criticality: None
              description: description
              optionId: 1
              value: value
            keyword: keyword
          priority: Emergency
          socialMedia:
            image:
              Path: Path
              IsAudio: true
              Description: Description
              ContentType: ContentType
              FileName: FileName
              Metadata:
                key: Metadata
              DateCreated: 2000-01-23T04:56:07.000+00:00
              IsImage: true
              EasAudioUrl: EasAudioUrl
              Folder: Folder
              VoiceAudioUrl: VoiceAudioUrl
              Extension: Extension
              FileAttachmentType: None
              OwnerId: 1
              Length: 1.0246457001441578
              PublicUrl: PublicUrl
              Id: Id
              IsPrivate: true
              FileSize: FileSize
          translate: true
          content:
            publicContentId: 6
            publicContentPageRequested: true
          incidentEvent:
            largeScaleEventId: largeScaleEventId
            name: name
            incidentType:
              loudToneSettings:
                onReply: true
                onAssociatedEventCommunication: true
                onInitialIncidentReport: true
                onForward: true
              name: name
              showAssessment: true
              id: id
              classification: Emergency
            id: id
            incidentCategory:
              name: name
              id: id
          expireDateTimeUtc: 2000-01-23T04:56:07.000+00:00
          files:
          - fileName: fileName
            fileMetadata:
              key: fileMetadata
            length: 3.5571952270680973
[...]
