{
    "swagger": "2.0",
    "info": {
        "version": "4.0.1",
        "title": "Alerting",
        "description": "Alerting Module API Specification"
    },
    "host": "admin.alertsense.com",
    "basePath": "/api",
    "schemes": [
        "http",
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/v2/alerts": {
            "post": {
                "operationId": "createAlerts",
                "tags": [
                    "alerts"
                ],
                "summary": "Creates and queues an alert for sending",
                "description": "",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "required parameters for sending an alert",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SendAlertRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SendAlertResponse"
                        },
                        "examples": {
                            "application/json": {
                                "AlertId": 0,
                                "SentStatus": {
                                    "AlertId": 1116,
                                    "AlertType": 0,
                                    "AlertStatus": "Queued",
                                    "DateSent": "/Date(1461270312040-0000)/",
                                    "DateCompleted": "/Date(-62135596800000-0000)/",
                                    "TimeZone": "MT ",
                                    "SenderName": "Development Administrator",
                                    "SenderEmail": "dev@alertsense.com",
                                    "Subject": "AlertSense Dev Environment",
                                    "Message": "This is a test message. Lets send from a template!",
                                    "Cancelled": false,
                                    "Scheduled": false,
                                    "Sent": false,
                                    "Groups": [],
                                    "Statuses": [],
                                    "Errors": []
                                },
                                "HasErrors": false,
                                "IsValid": true
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v2/alerts/{alertId}/results/channels/aggregatedSummary": {
            "get": {
                "operationId": "getAggregatedChannelSummaryResponse",
                "description": "Returns the summary results for the email, voice, and sms channels.",
                "tags": [
                    "alerts"
                ],
                "parameters": [
                    {
                        "name": "alertId",
                        "in": "path",
                        "description": "the alert id of the channel to return",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AggregatedChannelSummaryResponse"
                        },
                        "examples": {}
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v2/alerts/{alertId}/results/channels/email": {
            "get": {
                "operationId": "getAlertChannelResultsEmail",
                "description": "Return the results for the email channel.",
                "tags": [
                    "alerts"
                ],
                "parameters": [
                    {
                        "name": "alertId",
                        "in": "path",
                        "description": "the alert id of the channel to return",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "the page number of contacts to return. (1 by default)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "the desired number of contacts per page. (25 by default)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EmailResultsSummaryResponse"
                        },
                        "examples": {}
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v2/alerts/{alertId}/results/channels/etn": {
            "get": {
                "operationId": "getAlertChannelResultsEtn",
                "description": "Return the results for the ETN channel.",
                "tags": [
                    "alerts"
                ],
                "parameters": [
                    {
                        "name": "alertId",
                        "in": "path",
                        "description": "the alert id of the channel to return",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "the page number of contacts to return. (1 by default)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "the desired number of contacts per page. (25 by default)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EtnResultsSummaryResponse"
                        },
                        "examples": {}
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v2/alerts/{alertId}/results/channels/social/nextdoor": {
            "get": {
                "operationId": "getNextdoorChannelStatus",
                "description": "Gets the Nextdoor channel status for a given alertId.",
                "tags": [
                    "alerts"
                ],
                "parameters": [
                    {
                        "name": "alertId",
                        "in": "path",
                        "description": "The AlertId.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number of status records to return. (1 by default)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The desired number of status records per page. (25 by default)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "A comma seperated list of properties to order by. Property names are case insensitive. Default is AccountName.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/PagedNextdoorChannelStatusResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid request.",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized.",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v2/alerts/{alertId}/results/channels/text": {
            "get": {
                "operationId": "getAlertChannelResultsText",
                "description": "Return the results for the Text channel.",
                "tags": [
                    "alerts"
                ],
                "parameters": [
                    {
                        "name": "alertId",
                        "in": "path",
                        "description": "the alert id of the channel to return",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "the page number of contacts to return. (1 by default)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "the desired number of contacts per page. (25 by default)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SmsResultsSummaryResponse"
                        },
                        "examples": {}
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v2/alerts/{alertId}/results/channels/voice": {
            "get": {
                "operationId": "getAlertChannelResultsVoice",
                "description": "Return the results for the Voice channel.",
                "tags": [
                    "alerts"
                ],
                "parameters": [
                    {
                        "name": "alertId",
                        "in": "path",
                        "description": "the alert id of the channel to return",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "the page number of contacts to return. (1 by default)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "the desired number of contacts per page. (25 by default)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/VoiceResultsSummaryResponse"
                        },
                        "examples": {}
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v2/alerts/{alertId}/results/recipients/{recipientId}": {
            "get": {
                "operationId": "getAlertsByIdSingleRecipient",
                "description": "Results for the specified recipient who has received this specific alert.",
                "tags": [
                    "alerts",
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "alertId",
                        "in": "path",
                        "description": "Id of the alert",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "recipientId",
                        "in": "path",
                        "description": "Id of the recipient",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single Recipient",
                        "schema": {
                            "$ref": "#/definitions/SingleRecipientResponse"
                        },
                        "examples": {
                            "application/json": {
                                "item": {
                                    "firstName": "Jeff",
                                    "lastName": "Miller",
                                    "channels": {
                                        "email": [
                                            {
                                                "status": "Sent"
                                            }
                                        ],
                                        "mobile": [
                                            {
                                                "status": "Sent"
                                            }
                                        ],
                                        "sms": [
                                            {
                                                "status": "Sent"
                                            }
                                        ]
                                    }
                                },
                                "hasErrors": false,
                                "isValid": true
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v2/alerts/{id}": {
            "get": {
                "operationId": "getAlertsById",
                "description": "Returns the alert details for the ID specified",
                "tags": [
                    "alerts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the alert",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "replaceMessageVariables",
                        "description": "Replace message variables with values from a contact. Defaults to true",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Alert being retrieved",
                        "schema": {
                            "$ref": "#/definitions/SingleAlertSettingsResponse"
                        },
                        "examples": {
                            "application/json": {
                                "item": {
                                    "alertType": "Poll",
                                    "capXml": "",
                                    "channels": {
                                        "email": {
                                            "requestConfirmation": false,
                                            "send": true
                                        },
                                        "fax": {
                                            "send": false
                                        },
                                        "push": {
                                            "send": false
                                        },
                                        "textMessage": {
                                            "primary": true,
                                            "secondary": false,
                                            "deliveryMethod": "Sms",
                                            "send": true
                                        },
                                        "voice": {
                                            "cellPhone": true,
                                            "businessPhone": true,
                                            "homePhone": true,
                                            "useOptOut": false,
                                            "send": true
                                        },
                                        "facebook": {
                                            "accountIds": [],
                                            "pageIds": [],
                                            "send": false
                                        },
                                        "twitter": {
                                            "accountIds": [],
                                            "send": false
                                        },
                                        "nextdoor": {
                                            "accounts": [],
                                            "send": false
                                        },
                                        "mobileBroadcast": {
                                            "send": false,
                                            "message": ""
                                        },
                                        "myAlertsApp": {
                                            "send": false
                                        },
                                        "microsoftTeams": {
                                            "sendWithHighImportance": false,
                                            "send": false
                                        }
                                    },
                                    "clientContext": {
                                        "isResend": false
                                    },
                                    "formType": "Quick",
                                    "id": 1118,
                                    "facilities": {
                                        "facilities": [],
                                        "areas": []
                                    },
                                    "message": {
                                        "priority": "NonEmergency",
                                        "basic": {
                                            "subject": "Exercise - Team Activation - Exercise",
                                            "message": "<p>Please respond to the following question by clicking on an answer below:</p><h4>The team has been activated due to yesterday's incident. Please give your availability to report to the site. This is only an exercise.</h4><ul><li style=\"list-style: none;\">Option 1 - I can be at the site in 2 hours</li><li style=\"list-style: none;\">Option 2 - I can be at the site in 3 hours</li><li style=\"list-style: none;\">Option 3 - I can report to the site tomorrow at 9:00 AM</li><li style=\"list-style: none;\">Option 4 - I am unable to report to the site today or tomorrow. </li></ul>"
                                        },
                                        "poll": {
                                            "questionId": 1000,
                                            "question": "The team has been activated due to yesterday's incident. Please give your availability to report to the site. This is only an exercise.",
                                            "options": [
                                                {
                                                    "optionId": 1000,
                                                    "selectionChoice": 1,
                                                    "value": "I can be at the site in 2 hours",
                                                    "description": "I can be at the site in 2 hours",
                                                    "criticality": "None"
                                                },
                                                {
                                                    "optionId": 1001,
                                                    "selectionChoice": 2,
                                                    "value": "I can be at the site in 3 hours",
                                                    "description": "I can be at the site in 3 hours",
                                                    "criticality": "None"
                                                },
                                                {
                                                    "optionId": 1002,
                                                    "selectionChoice": 3,
                                                    "value": "I can report to the site tomorrow at 9:00 AM",
                                                    "description": "I can report to the site tomorrow at 9:00 AM",
                                                    "criticality": "None"
                                                },
                                                {
                                                    "optionId": 1003,
                                                    "selectionChoice": 4,
                                                    "value": "I am unable to report to the site today or tomorrow. ",
                                                    "description": "I am unable to report to the site today or tomorrow. ",
                                                    "criticality": "None"
                                                }
                                            ]
                                        },
                                        "files": [
                                            {
                                                "uri": "https://storage-dev.dev.aws.alertsense.net/hilton-worldwide-attachments/52730cc4-566b-434e-82c0-dea36d4f47f6/Image1.png",
                                                "fileName": "Image1.png",
                                                "contentType": "image/png",
                                                "length": 575765,
                                                "ownerId": 1000
                                            }
                                        ],
                                        "language": "en-us",
                                        "incident": {
                                            "id": "e03472cc9a3843d182986e01e1f02307",
                                            "name": "Infrastructure Failure/Damage",
                                            "priority": "Emergency",
                                            "type": "Generic"
                                        },
                                        "incidentId": "e03472cc9a3843d182986e01e1f02307"
                                    },
                                    "recipients": {
                                        "uniqueMyAlertsAppCount": 10,
                                        "uniqueEtnCount": 5,
                                        "uniqueGroupCount": 0,
                                        "uniqueContactCount": 45,
                                        "selectedContactCount": 0,
                                        "selectedGroupCount": 1,
                                        "groupIds": [
                                            8846
                                        ],
                                        "mandatoryGroupIds": [],
                                        "contactIds": [],
                                        "groups": [
                                            {
                                                "id": 8846,
                                                "externalId": "8846"
                                            }
                                        ],
                                        "contacts": [],
                                        "directories": [],
                                        "searchFilters": []
                                    },
                                    "related": [
                                        {
                                            "relatedAlertId": 1100,
                                            "alertRelationType": "Related"
                                        }
                                    ],
                                    "schedule": {
                                        "scheduled": false,
                                        "expireDateTimeUtc": "/Date(1463052600000)/",
                                        "type": "Hickory"
                                    },
                                    "security": {
                                        "requireAuthentication": false,
                                        "voicePin": ""
                                    },
                                    "sender": {
                                        "id": 1234,
                                        "asset": {
                                            "id": "539569f532ce46b293a0d4190f10ba3d",
                                            "name": "Tokyo Hilton"
                                        },
                                        "displayName": "Tina Tester",
                                        "email": "tina.tester@alertsense.dev",
                                        "callerId": "2085551234",
                                        "externalId": "1234"
                                    },
                                    "timeSent": "/Date(1463049000000)/",
                                    "workflow": {
                                        "name": "RollingRetry",
                                        "key": "poll4duration",
                                        "version": "1.0",
                                        "triggers": [
                                            "Initialize",
                                            "Gather",
                                            "Hangup"
                                        ],
                                        "settings": {
                                            "retryDelay": "5",
                                            "maxAttempts": "1000",
                                            "duration": "15"
                                        }
                                    },
                                    "hidden": false,
                                    "weatherAlert": false,
                                    "requestConfirmation": false,
                                    "relatedAlertActions": {
                                        "disableReplyAll": false
                                    }
                                },
                                "status": {
                                    "__type": "AlertSense.Hickory.Interfaces.ResponseStatus, AlertSense.Hickory.ServiceModel",
                                    "isSuccess": true,
                                    "errorCode": "None",
                                    "validationFailures": [],
                                    "messages": []
                                },
                                "hasErrors": false,
                                "isValid": true
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v2/alerts/{id}/results": {
            "get": {
                "operationId": "getAlertsByIdResults",
                "description": "Result summary for the specified alert.",
                "tags": [
                    "alerts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the alert",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Result summary for the specified alert.",
                        "schema": {
                            "$ref": "#/definitions/SingleDeliverySummaryResponse"
                        },
                        "examples": {
                            "application/json": {
                                "item": {
                                    "id": 1118,
                                    "totalRecipients": 55,
                                    "delivery": {
                                        "Answered - Key Pressed": 45,
                                        "Answered - No Key Pressed": 5,
                                        "Failed": 5
                                    },
                                    "poll": {
                                        "questionId": 1000,
                                        "question": "What's your favorite color?",
                                        "optionResults": [
                                            {
                                                "optionId": 1000,
                                                "name": "Red",
                                                "value": 1,
                                                "count": 3
                                            },
                                            {
                                                "optionId": 1001,
                                                "name": "Blue",
                                                "value": 2,
                                                "count": 5
                                            }
                                        ],
                                        "totalResponded": 8
                                    },
                                    "hasErrors": false,
                                    "isValid": true
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound"
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v2/alerts/{id}/results/recipients": {
            "get": {
                "operationId": "getAlertsByIdRecipients",
                "description": "Results for all the recipients who have received this specific alert.",
                "tags": [
                    "alerts",
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the alert",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "recipientIds",
                        "in": "query",
                        "description": "Filters recipeints by IDs.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "isMandatory",
                        "in": "query",
                        "description": "Filters by recipeints that were mandatory when the alert was sent.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "pollOptionId",
                        "in": "query",
                        "description": "Filters recipeints by the poll option they selected.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filters recipeints by name.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Filters recipeints by email.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/page"
                    },
                    {
                        "$ref": "#/parameters/pageSize"
                    },
                    {
                        "$ref": "#/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paged Recipients.",
                        "schema": {
                            "$ref": "#/definitions/PagedRecipientResponse"
                        },
                        "examples": {
                            "application/json": {
                                "items": [
                                    {
                                        "id": 123,
                                        "firstName": "Jeff",
                                        "lastName": "Miller",
                                        "channels": {
                                            "email": [
                                                {
                                                    "status": "Sent",
                                                    "excluded": false
                                                }
                                            ],
                                            "mobile": [
                                                {
                                                    "status": "Sent",
                                                    "excluded": false
                                                }
                                            ],
                                            "sms": [
                                                {
                                                    "status": "Sent",
                                                    "excluded": false
                                                }
                                            ]
                                        },
                                        "response": {
                                            "channel": "Email",
                                            "value": 1,
                                            "responseMethod": "j.m@nagdom.com"
                                        },
                                        "isMandatory": false,
                                        "asset": {
                                            "id": "51bcb90c74174e60a0fdc87eeb8bac99",
                                            "name": "AlertSense"
                                        },
                                        "responseTime": "/Date(1463052600000)/",
                                        "responseChannel": "Email",
                                        "confirm": false
                                    },
                                    {
                                        "id": 456,
                                        "firstName": "Josiah",
                                        "lastName": "Peters",
                                        "channels": {
                                            "email": [
                                                {
                                                    "status": "Sent",
                                                    "excluded": false
                                                },
                                                {
                                                    "status": "Sent",
                                                    "excluded": false
                                                }
                                            ],
                                            "mobile": [
                                                {
                                                    "status": "Sent",
                                                    "excluded": false
                                                }
                                            ]
                                        },
                                        "isMandatory": false,
                                        "asset": {
                                            "id": "51bcb90c74174e60a0fdc87eeb8bac99",
                                            "name": "AlertSense"
                                        },
                                        "responseTime": "/Date(1463052600000)/",
                                        "responseChannel": "mobile",
                                        "confirm": false
                                    }
                                ],
                                "totalItemCount": 55,
                                "pageCount": 3,
                                "page": 1,
                                "pageSize": 25
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound"
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v2/alerts/{id}/status": {
            "get": {
                "operationId": "getAlertsByIdStatus",
                "description": "Current status for the specified alert.",
                "tags": [
                    "alerts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the alert",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Current status for the specified alert.",
                        "schema": {
                            "$ref": "#/definitions/SingleAlertStatusResponse"
                        },
                        "examples": {
                            "application/json": {
                                "item": {
                                    "id": 1004,
                                    "status": "Sent"
                                },
                                "hasErrors": false,
                                "isValid": true
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound"
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v2/alerts/defaults": {
            "post": {
                "operationId": "getAlertsDefault",
                "description": "Add new Alert Default Form",
                "tags": [
                    "alerts"
                ],
                "parameters": [
                    {
                        "name": "singleAlertDefaultsRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/SingleAlertDefaultsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SingleAlertDefaultsResponse"
                        },
                        "examples": {
                            "application/json": {
                                "item": {
                                    "fields": [
                                        {
                                            "name": "incident",
                                            "required": true,
                                            "invisible": false,
                                            "readonly": false,
                                            "systemRequired": false,
                                            "autofill": false
                                        },
                                        {
                                            "name": "severityAssessment",
                                            "required": true,
                                            "invisible": false,
                                            "readonly": false,
                                            "systemRequired": false,
                                            "autofill": false
                                        },
                                        {
                                            "name": "recipients",
                                            "required": true,
                                            "invisible": false,
                                            "readonly": false,
                                            "systemRequired": false,
                                            "autofill": false
                                        },
                                        {
                                            "name": "subject",
                                            "required": true,
                                            "invisible": false,
                                            "readonly": false,
                                            "systemRequired": false,
                                            "autofill": false
                                        },
                                        {
                                            "name": "message",
                                            "required": true,
                                            "invisible": false,
                                            "readonly": false,
                                            "systemRequired": false,
                                            "autofill": false
                                        }
                                    ],
                                    "alertType": "Poll",
                                    "channels": {
                                        "email": {
                                            "requestConfirmation": false,
                                            "send": true
                                        },
                                        "fax": {
                                            "send": false
                                        },
                                        "push": {
                                            "send": true
                                        },
                                        "textMessage": {
                                            "primary": true,
                                            "secondary": false,
                                            "deliveryMethod": "Sms",
                                            "send": true
                                        },
                                        "voice": {
                                            "cellPhone": false,
                                            "businessPhone": false,
                                            "homePhone": false,
                                            "useOptOut": false,
                                            "send": false
                                        },
                                        "facebook": {
                                            "accountIds": [],
                                            "pageIds": [],
                                            "send": false
                                        },
                                        "twitter": {
                                            "accountIds": [],
                                            "send": false
                                        },
                                        "nextdoor": {
                                            "accounts": [],
                                            "send": false
                                        },
                                        "mobileBroadcast": {
                                            "send": false,
                                            "message": ""
                                        },
                                        "myAlertsApp": {
                                            "send": false
                                        },
                                        "microsoftTeams": {
                                            "sendWithHighImportance": false,
                                            "send": false
                                        }
                                    },
                                    "clientContext": {
                                        "isResend": false
                                    },
                                    "formType": "Quick",
                                    "facilities": {
                                        "facilities": [],
                                        "areas": []
                                    },
                                    "message": {
                                        "priority": "Emergency",
                                        "basic": {
                                            "subject": "AlertSense Dev Environment",
                                            "message": ""
                                        },
                                        "files": [],
                                        "language": "en-us",
                                        "incident": {
                                            "id": "e03472cc9a3843d182986e01e1f02307",
                                            "name": "Infrastructure Failure/Damage",
                                            "priority": "Emergency",
                                            "type": "Generic"
                                        }
                                    },
                                    "recipients": {
                                        "uniqueMyAlertsAppCount": 0,
                                        "uniqueEtnCount": 0,
                                        "uniqueGroupCount": 0,
                                        "uniqueContactCount": 0,
                                        "selectedContactCount": 0,
                                        "selectedGroupCount": 0,
                                        "groupIds": [],
                                        "mandatoryGroupIds": [],
                                        "contactIds": [],
                                        "groups": [],
                                        "contacts": [],
                                        "directories": [],
                                        "searchFilters": []
                                    },
                                    "related": [
                                        {
                                            "relatedAlertId": 1100,
                                            "alertRelationType": "Reply"
                                        }
                                    ],
                                    "security": {
                                        "requireAuthentication": false,
                                        "voicePin": ""
                                    },
                                    "sender": {
                                        "id": 1234,
                                        "asset": {
                                            "id": "539569f532ce46b293a0d4190f10ba3d",
                                            "name": "Tokyo Hilton"
                                        },
                                        "displayName": "Tina Tester",
                                        "email": "tina.tester@alertsense.dev",
                                        "callerId": "2085551234",
                                        "externalId": "1234"
                                    },
                                    "hidden": false,
                                    "weatherAlert": false,
                                    "requestConfirmation": false,
                                    "relatedAlertActions": {
                                        "disableReplyAll": false
                                    }
                                },
                                "status": {
                                    "__type": "AlertSense.Hickory.Interfaces.ResponseStatus, AlertSense.Hickory.ServiceModel",
                                    "isSuccess": true,
                                    "errorCode": "None",
                                    "validationFailures": [],
                                    "messages": []
                                },
                                "hasErrors": false,
                                "isValid": true
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v2/alerts/find": {
            "post": {
                "operationId": "findAlerts",
                "description": "List a summary of all alerts sent",
                "tags": [
                    "alerts"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Filters for alert search",
                        "schema": {
                            "$ref": "#/definitions/FindAlertRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success. List a summary of all alerts sent",
                        "schema": {
                            "$ref": "#/definitions/PagedAlertSettingsResponse"
                        },
                        "examples": {
                            "application/json": {
                                "totalItemCount": 1,
                                "pageCount": 1,
                                "page": 1,
                                "pageSize": 5,
                                "items": [
                                    {
                                        "id": 1118,
                                        "regionName": "AlertSense Admin Region",
                                        "timeSent": "/Date(1463049000000)/",
                                        "sender": {
                                            "asset": {
                                                "id": "539569f532ce46b293a0d4190f10ba3d",
                                                "name": "Tokyo Hilton"
                                            },
                                            "id": 1234,
                                            "displayName": "Development Administrator",
                                            "email": "dev@alertsense.com"
                                        },
                                        "facilities": {
                                            "facilities": [],
                                            "areas": []
                                        },
                                        "message": {
                                            "priority": "NonEmergency",
                                            "incident": {
                                                "id": "e03472cc9a3843d182986e01e1f02307",
                                                "name": "Infrastructure Failure/Damage",
                                                "priority": "Emergency",
                                                "type": "Generic"
                                            },
                                            "incidentId": "e03472cc9a3843d182986e01e1f02307",
                                            "basic": {
                                                "subject": "AlertSense Dev Environment",
                                                "message": "This is a test message. Lets send an alert!"
                                            },
                                            "files": [],
                                            "language": "en-us",
                                            "severityAssessment": {
                                                "responses": [
                                                    {
                                                        "questionId": "id.hilton.assessment.question.seriousillness",
                                                        "optionId": "id.hilton.assessment.responses.yesno.yes"
                                                    },
                                                    {
                                                        "questionId": "id.hilton.assessment.question.propertydamage",
                                                        "optionId": "id.hilton.assessment.responses.yesno.yes"
                                                    }
                                                ],
                                                "comment": "Send help now."
                                            }
                                        },
                                        "channels": {
                                            "email": {
                                                "send": true
                                            },
                                            "fax": {
                                                "send": false
                                            },
                                            "push": {
                                                "send": false
                                            },
                                            "textMessage": {
                                                "primary": true,
                                                "secondary": false,
                                                "deliveryMethod": "Sms",
                                                "send": true
                                            },
                                            "voice": {
                                                "cellPhone": false,
                                                "businessPhone": false,
                                                "homePhone": false,
                                                "useOptOut": false,
                                                "send": false
                                            },
                                            "mobileBroadcast": {
                                                "send": false,
                                                "message": ""
                                            }
                                        },
                                        "recipients": {
                                            "uniqueMyAlertsAppCount": 10,
                                            "uniqueEtnCount": 5,
                                            "uniqueContactCount": 45,
                                            "groupIds": [
                                                1003
                                            ],
                                            "mandatoryGroupIds": [],
                                            "contactIds": []
                                        },
                                        "related": [
                                            {
                                                "relatedAlertId": 1100,
                                                "alertRelationType": "Reply"
                                            }
                                        ],
                                        "alertType": "Default",
                                        "formType": "Quick",
                                        "hidden": false
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "error": "Unauthorized."
                            }
                        }
                    },
                    "500": {
                        "description": "Invalid User.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "error": "Invalid User."
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v2/alerts/preview": {
            "post": {
                "operationId": "createAlertsPreview",
                "description": "Validates an alert and returns a preview",
                "tags": [
                    "alerts"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "PreviewAlertRequest",
                        "description": "Required parameters for previewing an alert",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PreviewAlertRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A preview of the Alert to send",
                        "schema": {
                            "$ref": "#/definitions/SingleAlertSettingsResponse"
                        },
                        "examples": {
                            "application/json": {
                                "item": {
                                    "id": 1118,
                                    "timeSent": "/Date(1463070600000-0000)/",
                                    "alertType": "Default",
                                    "formType": "Quick",
                                    "sender": {
                                        "id": 1234,
                                        "asset": {
                                            "id": "539569f532ce46b293a0d4190f10ba3d",
                                            "name": "Tokyo Hilton"
                                        },
                                        "displayName": "Development Administrator",
                                        "email": "dev@alertsense.com"
                                    },
                                    "facilities": {
                                        "facilities": [],
                                        "areas": []
                                    },
                                    "message": {
                                        "priority": "NonEmergency",
                                        "incident": {
                                            "id": "e03472cc9a3843d182986e01e1f02307",
                                            "name": "Infrastructure Failure/Damage"
                                        },
                                        "incidentId": "e03472cc9a3843d182986e01e1f02307",
                                        "basic": {
                                            "subject": "AlertSense Dev Environment",
                                            "message": "This is a test message. Lets send from a template!"
                                        },
                                        "files": [],
                                        "language": "en-us"
                                    },
                                    "channels": {
                                        "email": {
                                            "recipientCount": 10,
                                            "send": true
                                        },
                                        "fax": {
                                            "recipientCount": 0,
                                            "send": false
                                        },
                                        "push": {
                                            "recipientCount": 0,
                                            "send": false
                                        },
                                        "textMessage": {
                                            "recipientCount": 3,
                                            "send": true
                                        },
                                        "voice": {
                                            "recipientCount": 5,
                                            "send": true
                                        }
                                    },
                                    "recipients": {
                                        "totalSelected": 18,
                                        "totalRecipients": 14,
                                        "groupIds": [
                                            1003,
                                            1004,
                                            1005
                                        ],
                                        "mandatoryGroupIds": [],
                                        "contactIds": []
                                    }
                                },
                                "hasErrors": false,
                                "isValid": true
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request, likely due to validation errors.",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        },
                        "examples": {
                            "application/json": {
                                "status": {
                                    "isSuccess": false,
                                    "errorCode": "ValidationError",
                                    "errorMessage": "Subject is required to send this message."
                                },
                                "hasErrors": true,
                                "isValid": true
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "error": "Unauthorized."
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v2/public/shortenedUrl": {
            "post": {
                "operationId": "createShortenedUrl",
                "description": "Create a shortened URL",
                "tags": [
                    "alerts"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "CreateShortenedUrlRequest",
                        "description": "Required parameters",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateShortenedUrlRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ShortenedUrlResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v4/{tenantId}/distributionLists/createFromFile": {
            "post": {
                "operationId": "createFromFile",
                "description": "Creates a distribution list from a CSV file structured after /v2/contacts/export",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "tenantId",
                        "in": "path",
                        "description": "Id of the tenant",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "body",
                        "name": "createDistributionListFromFileRequest",
                        "required": true,
                        "description": "The file to create the list from.",
                        "schema": {
                            "$ref": "#/definitions/CreateDistributionListFromFileRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success. Returns a paged list of the contacts from the distribution list.",
                        "schema": {
                            "$ref": "#/definitions/CreateDistributionListFromFileResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v2/alertsWithAttachments": {
            "post": {
                "operationId": "createAlertWithAttachment",
                "tags": [
                    "alerts"
                ],
                "summary": "Creates and queues an alert for sending with attachments",
                "description": "",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "attachment",
                        "in": "formData",
                        "description": "File to upload",
                        "type": "file"
                    },
                    {
                        "name": "alert",
                        "in": "formData",
                        "description": "required parameters for sending an alert",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "jobId",
                        "in": "formData",
                        "description": "Send Alert Job Id",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "async",
                        "in": "formData",
                        "description": "deprecated. Specifies whether an asynchronous notification is sent to the sender on alert transition to final state",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SendAlertResponse"
                        },
                        "examples": {
                            "application/json": {
                                "AlertId": 0,
                                "SentStatus": {
                                    "AlertId": 1116,
                                    "AlertType": 0,
                                    "AlertStatus": "Queued",
                                    "DateSent": "/Date(1461270312040-0000)/",
                                    "DateCompleted": "/Date(-62135596800000-0000)/",
                                    "TimeZone": "MT ",
                                    "SenderName": "Development Administrator",
                                    "SenderEmail": "dev@alertsense.com",
                                    "Subject": "AlertSense Dev Environment",
                                    "Message": "This is a test message. Lets send from a template!",
                                    "Cancelled": false,
                                    "Scheduled": false,
                                    "Sent": false,
                                    "Groups": [],
                                    "Statuses": [],
                                    "Errors": []
                                },
                                "HasErrors": false,
                                "IsValid": true
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v2/contacts/find": {
            "post": {
                "operationId": "findContacts",
                "description": "Returns a paged list of the contacts.",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Filters for contact search",
                        "schema": {
                            "$ref": "#/definitions/FindContactRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success. Returns a paged list of the contacts.",
                        "schema": {
                            "$ref": "#/definitions/PagedContactResponse"
                        },
                        "examples": {
                            "application/json": {
                                "totalItemCount": 2,
                                "pageCount": 2,
                                "page": 1,
                                "pageSize": 5,
                                "items": [
                                    {
                                        "id": 0,
                                        "credentialId": 10,
                                        "firstName": "Princess",
                                        "lastName": "Jasmine",
                                        "emails": [
                                            "magic.carpet1337@gmail.com",
                                            "magic.carpet1338@gmail.com",
                                            "magic.carpet1339@gmail.com"
                                        ],
                                        "phones": [
                                            "+12025554444",
                                            "+12025554445"
                                        ],
                                        "chatUser": {
                                            "id": "test.1000.0.a1576c14-6f72-4a5c-acf3-c33444cd75a7",
                                            "displayName": "Jasmine, Princess",
                                            "firstName": "Princess",
                                            "lastName": "Jasmine",
                                            "emailAddress": "magic.carpet1337@gmail.com",
                                            "metadata": "{\"ContactId\":0,\"UserId\":0,\"TenantId\":1000}"
                                        }
                                    },
                                    {
                                        "id": 1,
                                        "credentialId": 11,
                                        "firstName": "Captain",
                                        "lastName": "Gerrit",
                                        "emails": [
                                            "git.review@gmail.com"
                                        ],
                                        "phones": [
                                            "+12025554446"
                                        ],
                                        "chatUser": {
                                            "id": "test.1000.1.C22F1D0E-9E59-4A11-A918-181F3A407F0E",
                                            "displayName": "Gerrit, Captain",
                                            "firstName": "Captain",
                                            "lastName": "Gerrit",
                                            "emailAddress": "git.review@gmail.com",
                                            "metadata": "{\"ContactId\":1,\"UserId\":1,\"TenantId\":1000}"
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        },
        "/v2.1/groups/tree": {
            "get": {
                "operationId": "getGroupTreeNodes",
                "description": "Returns a paged set of `GroupTreeNode` objects.",
                "tags": [
                    "groups",
                    "v2.1"
                ],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "query",
                        "description": "Id of the group to look up",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "classification",
                        "in": "query",
                        "description": "the classification of the groups to return. (Internal vs. Public)",
                        "type": "string",
                        "enum": [
                            "Internal",
                            "Public"
                        ]
                    },
                    {
                        "$ref": "#/parameters/page"
                    },
                    {
                        "$ref": "#/parameters/pageSize"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/PagedGroupTreeNodeResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JwtBearerTokenScheme": [],
                        "Oauth2Scheme": []
                    }
                ]
            }
        }
    },
    "parameters": {
        "endDate": {
            "name": "endDate",
            "in": "query",
            "description": "The ending date for the date range.",
            "required": false,
            "type": "string",
            "format": "date-time"
        },
        "integrationsCategory": {
            "name": "category",
            "in": "query",
            "description": "The category of integration history items.",
            "required": false,
            "type": "string",
            "enum": [
                "None",
                "Event",
                "Trigger",
                "Action",
                "Status"
            ]
        },
        "level": {
            "name": "level",
            "in": "query",
            "description": "The level of history items.",
            "required": false,
            "type": "string",
            "enum": [
                "Debug",
                "Information",
                "Warning",
                "Error"
            ]
        },
        "page": {
            "name": "page",
            "in": "query",
            "description": "The page number of items to return. (1 by default)",
            "required": false,
            "default": 1,
            "type": "integer",
            "format": "int32"
        },
        "pageSize": {
            "name": "pageSize",
            "in": "query",
            "description": "The desired number of items per page. (25 by default)",
            "default": 25,
            "required": false,
            "type": "integer",
            "format": "int32"
        },
        "search": {
            "name": "search",
            "in": "query",
            "description": "A value matched against one or more resource properties.",
            "required": false,
            "type": "string"
        },
        "sort": {
            "name": "sort",
            "in": "query",
            "description": "A comma seperated list of properties to order by. Properties preceded by a '-' will be ordered descending. (e.g.  ?sort=lastName,firstName,-responseTime). Property names are case insensitive.",
            "required": false,
            "type": "string"
        },
        "startDate": {
            "name": "startDate",
            "in": "query",
            "description": "The starting date for the date range.",
            "required": false,
            "type": "string",
            "format": "date-time"
        }
    },
    "responses": {
        "204": {
            "description": "Success. No Content."
        },
        "400": {
            "description": "Bad request.",
            "schema": {
                "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
                "application/json": {
                    "error": "Bad request."
                }
            }
        },
        "401": {
            "description": "Unauthorized.",
            "schema": {
                "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
                "application/json": {
                    "error": "Unauthorized."
                }
            }
        },
        "403": {
            "description": "Forbidden.",
            "schema": {
                "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
                "application/json": {
                    "error": "Forbidden."
                }
            }
        },
        "404": {
            "description": "Not Found.",
            "schema": {
                "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
                "application/json": {
                    "error": "Not Found."
                }
            }
        },
        "500": {
            "description": "Internal server error.",
            "schema": {
                "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
                "application/json": {
                    "error": "Unexpected server error."
                }
            }
        }
    },
    "definitions": {
        "AccessFilter": {
            "type": "object",
            "properties": {
                "domains": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "domainTypes": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "requireMembership": {
                    "type": "boolean"
                },
                "mandatoryAlerting": {
                    "type": "boolean"
                },
                "conditions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/AccessFilterCondition"
                    }
                }
            }
        },
        "AccessFilterCondition": {
            "type": "object",
            "properties": {
                "field": {
                    "type": "string"
                },
                "expression": {
                    "type": "string"
                },
                "mapping": {
                    "type": "string"
                },
                "values": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "AccessRecipe": {
            "type": "object",
            "properties": {
                "filter": {
                    "$ref": "#/definitions/AccessFilter"
                },
                "displayName": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "group": {
                    "$ref": "#/definitions/DisplayGroup"
                },
                "role": {
                    "$ref": "#/definitions/DisplayRole"
                }
            }
        },
        "AggregatedChannelResult": {
            "type": "object",
            "properties": {
                "ChannelName": {
                    "type": "string"
                },
                "StatusTypes": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "TotalChannelRecipients": {
                    "type": "integer"
                }
            }
        },
        "AggregatedChannelResults": {
            "type": "object",
            "properties": {
                "Sms": {
                    "$ref": "#/definitions/AggregatedChannelResult"
                },
                "Smtp": {
                    "$ref": "#/definitions/AggregatedChannelResult"
                },
                "Voice": {
                    "$ref": "#/definitions/AggregatedChannelResult"
                },
                "Email": {
                    "$ref": "#/definitions/AggregatedChannelResult"
                },
                "Etn": {
                    "$ref": "#/definitions/AggregatedChannelResult"
                },
                "MobilePush": {
                    "$ref": "#/definitions/AggregatedChannelResult"
                },
                "Fax": {
                    "$ref": "#/definitions/AggregatedChannelResult"
                },
                "MicrosoftTeams": {
                    "$ref": "#/definitions/AggregatedChannelResult"
                }
            }
        },
        "AggregatedChannelSummaryResponse": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/ApiResponse"
                },
                {
                    "properties": {
                        "Item": {
                            "$ref": "#/definitions/AggregatedChannelResults"
                        }
                    },
                    "type": "object"
                }
            ]
        },
        "AlertDefaults": {
            "allOf": [
                {
                    "$ref": "#/definitions/AlertSettings"
                },
                {
                    "properties": {
                        "fields": {
                            "items": {
                                "$ref": "#/definitions/Field"
                            },
                            "type": "array"
                        },
                        "severityAssessmentId": {
                            "type": "string",
                            "format": "guid"
                        }
                    }
                }
            ]
        },
        "AlertSentStatus": {
            "properties": {
                "AlertId": {
                    "format": "int32",
                    "type": "integer"
                },
                "Message": {
                    "type": "string"
                },
                "SenderEmail": {
                    "type": "string"
                },
                "SenderName": {
                    "type": "string"
                },
                "Subject": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AlertSettings": {
            "discriminator": "type",
            "properties": {
                "alertType": {
                    "$ref": "#/definitions/AlertType"
                },
                "weatherAlert": {
                    "type": "boolean"
                },
                "capKey": {
                    "type": "string"
                },
                "capXml": {
                    "type": "string"
                },
                "channels": {
                    "$ref": "#/definitions/ChannelSettings"
                },
                "formType": {
                    "$ref": "#/definitions/FormType"
                },
                "id": {
                    "format": "int32",
                    "type": "integer"
                },
                "facilities": {
                    "$ref": "#/definitions/FacilitySettings"
                },
                "location": {
                    "$ref": "#/definitions/LocationSettings"
                },
                "message": {
                    "$ref": "#/definitions/MessageSettings"
                },
                "recipients": {
                    "$ref": "#/definitions/RecipientSettings"
                },
                "mobileBroadcast": {
                    "$ref": "#/definitions/MobileBroadcastSettings"
                },
                "regionId": {
                    "format": "int32",
                    "type": "integer"
                },
                "regionName": {
                    "type": "string"
                },
                "related": {
                    "items": {
                        "$ref": "#/definitions/RelatedAlert"
                    },
                    "type": "array"
                },
                "schedule": {
                    "$ref": "#/definitions/ScheduleSettings"
                },
                "security": {
                    "$ref": "#/definitions/SecuritySettings"
                },
                "sender": {
                    "$ref": "#/definitions/SenderSettings"
                },
                "timeSent": {
                    "format": "date-time",
                    "type": "string"
                },
                "userId": {
                    "format": "int32",
                    "type": "integer"
                },
                "workflow": {
                    "$ref": "#/definitions/WorkflowSettings"
                },
                "prioritySettings": {
                    "$ref": "#/definitions/PrioritySettings"
                },
                "hidden": {
                    "type": "boolean"
                },
                "completionStatus": {
                    "$ref": "#/definitions/AlertStatus"
                },
                "brandId": {
                    "format": "int32",
                    "type": "integer"
                },
                "relatedAlertActions": {
                    "$ref": "#/definitions/RelatedAlertActions"
                },
                "pipelineSettings": {
                    "$ref": "#/definitions/PipelineSettings"
                },
                "publicAlert": {
                    "type": "boolean"
                },
                "requestConfirmation": {
                    "type": "boolean"
                },
                "clientContext": {
                    "$ref": "#/definitions/ClientRequestContext"
                }
            },
            "type": "object"
        },
        "AlertSettingsValue": {
            "description": "Variable current value",
            "properties": {
                "friendlyName": {
                    "description": "Friendly name for this variable",
                    "type": "string"
                },
                "placeHolder": {
                    "description": "Placeholder for this variable",
                    "type": "string"
                },
                "source": {
                    "$ref": "#/definitions/AlertSettingsVariableSource"
                },
                "maxLength": {
                    "description": "MaxLength for this variable. This will be used when validating a message length",
                    "type": "integer",
                    "format": "int32"
                },
                "sampleValue": {
                    "description": "Sample value for this variable",
                    "type": "string"
                },
                "template": {
                    "description": "Template for this variable",
                    "type": "string"
                },
                "value": {
                    "description": "Value for this variable",
                    "type": "string"
                },
                "isError": {
                    "description": "Indicates if there are any validation failures in this response",
                    "type": "boolean"
                },
                "validationFailures": {
                    "items": {
                        "$ref": "#/definitions/ValidationFailure"
                    },
                    "type": "array",
                    "description": "Validation failures of this request object"
                },
                "usedMessageVariables": {
                    "type": "object",
                    "description": "Used variables by Message Variable Source",
                    "additionalProperties": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "type": "object"
        },
        "AlertSettingsVariableSource": {
            "type": "string",
            "enum": [
                "Alert",
                "Contact",
                "CSV",
                "Survey"
            ]
        },
        "AlertStatus": {
            "properties": {
                "id": {
                    "format": "int32",
                    "type": "integer"
                },
                "status": {
                    "type": "string"
                },
                "alertCompletion": {
                    "enum": [
                        "Sent",
                        "Processing",
                        "Failed"
                    ],
                    "type": "string"
                },
                "pollResults": {
                    "$ref": "#/definitions/PollResults"
                }
            },
            "type": "object"
        },
        "AlertType": {
            "type": "string",
            "enum": [
                "Unused",
                "Default",
                "Poll",
                "Conference"
            ]
        },
        "ApiResponse": {
            "discriminator": "type",
            "properties": {
                "status": {
                    "$ref": "#/definitions/ResponseStatus"
                },
                "hasErrors": {
                    "description": "Set true when status.isSuccess is false.",
                    "type": "boolean"
                },
                "isValid": {
                    "description": "Set false on API parameter validation failures.",
                    "type": "boolean"
                }
[...]
